[2019-01-11 11:40] jerryneedell opened #2 "UART ECHO TEST failure"
![screen shot 2019-01-11 at 6 35 56 am](https://user-images.githubusercontent.com/15856834/51031849-d8883580-156b-11e9-8a01-4b1ecf9cf42b.png)
@dhalbert do you want these type of issues here or agianst CP?
I think I can repodce this  -- at least it did it twice when I tried to send more than 24 characters
See attached screenshot - it failed during the third line

[code]

Reproduced a few more times

[2019-01-13 14:34] jerryneedell opened #3 "IBeacon test"
FYI -- using the Manufacturer ID 0x004C  - Apple  for the beacon test works well with the IOS Locate Beacon App

[code]

[2019-01-13 14:37] jerryneedell commented on #3
![1e76fdd7-7b62-441e-a46b-c244ab192496](https://user-images.githubusercontent.com/15856834/51086630-cbf41080-1716-11e9-9159-8991a59685b7.png)

[2019-01-13 14:43] jerryneedell commented on #3
The Locate Beacon app also detected the EddyStone Beacon test

[2019-01-23 03:14] dhalbert commented on #2
I added a FIFO to the UART, added some locking, and now it's `UARTServer`, so worth trying again.

[2019-01-23 03:14] dhalbert commented on #3
Thanks for the testing!!

[2019-01-23 03:14] #3 closed

[2019-01-23 12:01] jerryneedell commented on #2
I am gettin gthis failure when I send anything to it ```
Press any key to enter the REPL. Use CTRL-D to reload.
Adafruit CircuitPython 4.0.0-alpha.5-207-gf46ec0253 on 2019-01-22; Adafruit Feather nRF52840 Express with nRF52840

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "ble_uart_echo_test.py", line 14, in <module>
TypeError: can't convert bytes to int

[code]

[2019-01-23 12:17] jerryneedell commented on #2
changing the last line to just send the byte works
[code]

but it  now fails as before for long messages -- now I get up to 27 bytes before it fails

[code]

[2019-01-23 12:36] jerryneedell commented on #2
FYI - a few other notes:
It exits the program when I disconnect -- is that expected?

I am unable to connect to it via my iPhone or Android device --
The Android phone connects, but can't initialize its uart connection

so far only can connect from my desktop client  (Adafruit BlueFruit Connect)

[2019-01-23 12:48] jerryneedell opened #7 "uuid module missing"
I am unable to test the ibeacon since the uuid.py module is missing
[code]

[2019-01-23 12:52] jerryneedell commented on #7
FYI - teh ble_eddystone_test works well

[2019-01-23 13:37] dhalbert commented on #7
The example in the doc is outdated. Use `from bleio import UUID` instead. Sorry about that. I updated the `examples/` but forgot about the examples in the code documentation. Will fix.

[2019-01-23 13:48] jerryneedell commented on #7
Thank -- that works!s

[2019-01-23 15:12] dhalbert commented on #7
reopening to remind me to fix the doc

[2019-01-23 15:54] jerryneedell commented on #2
hmm  -- any ice what the uart.write fails for me -- on a feather_nrf52840_express -- what board are you using?

[2019-01-23 15:54] jerryneedell commented on #2
which iPhone app are you using?

[2019-01-23 16:02] jerryneedell commented on #2
the iPhone does recognize that it has UART service.

[2019-01-23 17:13] jerryneedell commented on #2
I see that the usage example does not use "bytes"
[code]

this works to my desktop client, but still not with my iPhone

[2019-01-23 20:16] jerryneedell commented on #2
just a recap of results   -- this code works fine ```from adafruit_ble.uart import UARTServer

uart = UARTServer()
uart.start_advertising()

# Wait for a connection
while not uart.connected:
    pass

while uart.connected:
    # Returns b'' if nothing was read.
    one_byte = uart.read(1)
    if one_byte:
        uart.write(one_byte)
[code]

[2019-01-24 02:31] jerryneedell commented on #2
@dhalbert Pulled this PR and testes with iPhone 7 IOS 12.1.3  --works fine for UART Echo and for cricket Controller demo!!! Nice work!

It still does not work with my Andriod phone -- The app connects, but the UART connection fails with the message "Uart protocol can not be initialized"

[2019-01-24 17:53] #2 closed

[2019-03-30 03:31] dhalbert opened #10 "UARTServer does not handle writes of >20 bytes"
`UARTServer.write` just writes a the TX Characteristic value directly. If the size of the byte buffer is too large (> 20 bytes), the write will fail. ~~In addition, writing lots of shorter byte buffers will fail because we aren't waiting for the ack.~~ It should do the write in a buffered way to allow longer buffers to be written.

Thanks to @dastels for uncovering this.

[2019-04-22 17:04] dastels commented on #10
I get this after 24 characters:

[code]

[2019-04-22 17:06] dhalbert commented on #10
Could you point to the test code? Also, what are you using to receive on the client side? If it's Bluefruit LE Connect, which hardware are you running it on?

[2019-04-22 17:08] dastels commented on #10
bluefruit app on iOS

Files aren't checked in anywhere at the moment:

[code]

[2019-04-22 17:09] dastels commented on #10
Let me try sending the entire string at once.

[2019-04-22 17:11] dastels commented on #10
Writing the entire string immediately results in this with no characters sent.

[code]

[2019-04-22 18:03] dhalbert commented on #10
I am doing this:
[code]
and it's working. Can you try that? I'll try your code too. Make sure if there are multiple copies of the library that the right one is being imported. Thanks.

[2019-04-22 18:12] dastels commented on #10
To confirm, all I need to update is adafruit_ble.uart ??

[2019-04-22 18:14] dhalbert commented on #10
That should be true, but you may as well copy the whole dir. I removed it from lib and copied my repo version to `/`. Note that you need to pull from `dhalbert/Adafruit_CircuitPython_BLE`, not `adafruit/...`, since it isn't merged yet.

[2019-04-22 18:16] dastels commented on #10
OK.. let me try again.

[2019-04-22 18:21] dastels commented on #10
Same result.

[2019-04-22 21:58] dhalbert commented on #10
@dastels: change the last lines in ble_handler to:
[code]

There is some problem writing many small strings in a row, which I still need to debug, but this will work for now.

[2019-04-23 02:14] dhalbert commented on #10
OK, after more debugging, the code in the previous comment should be fine, if you send the string all at once (it will be sent in 20-byte chunks). If you send the data one byte at a time, the central will fall behind in processing and/or the maximum possible data rate will be exceeded. So this is not an bug, but indicates some throttling is needed.

If you see errors on very long messages, then so

[2019-04-23 10:43] dastels commented on #10
I’m out of the office today but will dig in tomorrow. What version of CP are you using?

[2019-04-23 12:32] dhalbert commented on #10
Absolute latest. I have some ideas about doing more flow control in CircuitPython. I am going to go ahead and merge #11 because it's clearly a fix for some of the problems. This issue will close but go ahead and continue to comment or open a new issue in the circuitpython repo if needed.

[2019-04-23 12:32] #10 closed

[2019-04-24 12:41] dastels commented on #10
OK. Latest lib bundle and RC1. It "works".  No crashes, and all characters get sent.  However it comes out in chunks, assumedly because it's sending 20 chars at a time.

[2019-04-24 13:33] dhalbert commented on #10
Yes, it is sending the maximum possible in a single Bluetooth packet. There's a lot more overhead if we send a character at a time. The next step is to do some flow control on the CircuitPython side.

[2019-05-03 20:00] Tasm-Devil opened #12 "Circuitpython in HASS"
Are there any plans to support this bluetooth to mqtt gateway [bt-mqtt-gateway](https://github.com/zewelor/bt-mqtt-gateway) or any other software to use a circuitpython device in a home automated system.

I've no idea how this Bluetooth stuff works. Characteristics, Service, Descriptor puhh.
Otherwise i would start writing a so called 'worker' for the _bt-mqtt-gateway_.

It would be awesome to emb

[2019-05-03 20:13] ladyada commented on #12
hiya please get any details for the BTLE characteristics, or ask them to provide the interface they expect

[2019-05-04 13:46] Tasm-Devil commented on #12
OK. But are there any attempts from adafruit to provide a kind of gateway between circuitpython <-> btle <-> getaway (rpi) <-> mqtt <-> adafruitio (e.g.) ?

A kind of tunneled socket (over btle) to circuitpython would me even nicer.

[2019-05-04 17:03] ladyada commented on #12
not yet! if you get somewhere with it let us know :)

[2019-05-04 18:45] Tasm-Devil commented on #12
Meybe this is the way we should go: https://github.com/olliephillips/webbleMQ

[2019-05-05 16:07] Tasm-Devil commented on #12
I have now ssl on my own mosquitto server and webbleMQ works like a charm. You can try it here:
[tasm-devils webbleMQ](https://tasm-devil.github.io/webbleMQ/)

This is the most easy way to bridge BLE UART to your mqtt server.

[2019-05-07 17:57] Tasm-Devil commented on #12
https://github.com/adafruit/circuitpython/issues/1843

[2019-05-07 17:57] #12 closed

[2019-06-02 04:19] Arudinne opened #13 "Peripheral name length limit?"
Hello,

I tried editing line 68 in uart.py to set the name as per this link:
https://circuitpython.readthedocs.io/en/latest/shared-bindings/bleio/Device.html

'''
self._periph = Peripheral((nus_uart_service,), name='1234556789')
'''

However regardless of what app I try to use to connect it looks like it's truncating the name to 5 characters.

Example:

![Screenshot_20190601-231724_Bluefruit](http

[2019-06-02 12:54] dhalbert commented on #13
In the original advertising packet, there's not enough room for the complete device name. The packet is only 31 bytes, and we need to include the service UUIDs, etc.

The complete name can be sent in a scan response packet: The scanner receives an advertisement, requests a scan response, and then further information is sent in the response, including the full name. But we haven't implemented scan

[2019-06-02 17:47] Arudinne commented on #13
OK, well I guess that answers that then. Thanks!

[2019-06-02 17:47] #13 closed

[2019-09-02 20:00] bmeisels opened #19 "Wrap _bleio.Adapter functionality"
As _bleio shouldn't be used directly anymore. The functionality of [_bleio.Adapter](https://circuitpython.readthedocs.io/en/4.x/shared-bindings/bleio/Adapter.html) should be wrapped.

[2019-09-08 17:05] rdagger opened #20 "Alpha2 breaking changes"
Looks like 5.0.0 Alpha 2 breaks the BLE examples.  I tried changing the bleio references to _bleio but I'm still having a problem with UART_Server.  Here's an example:
[code]
Throws error:

[2019-09-08 18:39] rdagger commented on #20
Please disregard.  I was using the release.  I cloned the latest version and it works.  Thanks.

[2019-09-08 18:39] #20 closed

[2019-09-26 17:49] kattni opened #24 "Hang when disconnecting quickly"
When one side of the connection disconnects abruptly, the code can hang with the following error:
[code]
Requires soft reset to continue.

Mentioned to @dhalbert who suggested filing an issue here, though it is still unclear whether or not this should be handled within this library or within CircuitPython itself.

[2019-10-02 19:16] kattni commented on #24
I walked away from the CPB with my mobile, and received a similar but slightly different error:
[code]
Including here so we can cover all the bases necessary when including a fix for this.

[2019-10-09 18:33] devoh747 commented on #24
You can also get a

Traceback (most recent call last):
File "code.py", line 241, in
File "/home/travis/build/adafruit/Adafruit_CircuitPython_Bundle/libraries/helpers/bluefruitconnect/adafruit_bluefruit_connect/packet.py", line 128, in from_stream
File "/home/travis/build/adafruit/Adafruit_CircuitPython_Bundle/libraries/helpers/bluefruitconnect/adafruit_bluefruit_connect/packet.py", line 89, in fro

[2019-10-10 20:44] devoh747 opened #27 "ValueError: Bad checksum"
Traceback (most recent call last):
File "code.py", line 241, in
File "/home/travis/build/adafruit/Adafruit_CircuitPython_Bundle/libraries/helpers/bluefruitconnect/adafruit_bluefruit_connect/packet.py", line 128, in from_stream
File "/home/travis/build/adafruit/Adafruit_CircuitPython_Bundle/libraries/helpers/bluefruitconnect/adafruit_bluefruit_connect/packet.py", line 89, in from_bytes
ValueError:

[2019-10-15 12:53] tcpipchip opened #28 "not seeing manufacturer data"
![image](https://user-images.githubusercontent.com/11488460/66833082-8d9fb200-ef31-11e9-9980-f04c42b8c43e.png)
and i am doing something wrong ?

[2019-10-15 16:19] tcpipchip commented on #28
Thank you so much!!!!!

[2019-10-15 16:26] tannewt commented on #28
I'm changing all of this so I wouldn't spend too much time on it.

[2019-10-15 16:28] dhalbert commented on #28
I am not seeing this issue. I am scanning several beacons and am seeing the manufacturer data. Could you do something like this:
[code]

(Note that you can paste code and then use the `<>` button to surround it in triple backquotes, instead of using screenshots.)

[2019-10-15 17:02] tcpipchip commented on #28
i wil test now with your code...wait...

[2019-10-15 17:18] tcpipchip commented on #28
and works fine on NRF52 SCANNER (APP)

[2019-10-16 22:32] tcpipchip commented on #28
hi, any progress ?

[2019-10-25 13:05] dhalbert commented on #28
We're redoing the API and Python library. Currently we don't handle scan responses, which might be the reason you are not seeing all the advertising data. That is changing in the upcoming release.

[2019-10-25 14:43] tcpipchip commented on #28
Thank you so much!
I will wait!

[2019-12-01 15:36] dhalbert commented on #19
Now wrapped by `BLERadio` (though some functionality like getting/setting name still needs to b added).

[2019-12-01 15:36] #19 closed

[2019-12-01 15:39] dhalbert commented on #27
This is still present with the new 3.0.0 API. @katnni was able to generate it.

[2019-12-01 15:47] dhalbert opened #35 "Advertisements aren't including name"
The various advertisement classes, including `ProvideServicesAdvertisement`, etc. are not including a name in the advertising packet or scan response. This means that when the devices first appear in a list, say, to connect or pair to, just the address is listed. Once the peer caches the name, it will it will show up in lists, but the name should be included in the advertisement and/or scan respon

[2019-12-01 15:51] dhalbert opened #36 "BLERadio should expose _bleio.Adapter.name and .address"
BLERadio should provide a `.name` get/set property, and a read-only `.address` property.

[2019-12-01 16:49] dhalbert opened #37 "UARTService: allow setting of buffer sizes and timeouts"
Add optional args to constructor to allow setting buffer sizes and timeouts for `StreamOut` and `StreamIn` objects.

[2019-12-02 01:11] kevinjwalters commented on #37
Would be useful if the default value of the timeout(s) could be specifically mentioned in the documentation too.

[2019-12-03 00:48] tannewt commented on #35
As is, names are included when they are set. I didn't want to have a default because it impacts the length of the advertisement packet implicitly.

We chatted about this and decided it be best to provide a default scan response when one isn't provided. It's common to place the name and tx power in the scan response because the values are fixed and not changing often. Providing a default scan respo

[2019-12-05 14:55] dhalbert commented on #37
@tannewt: I started to work on this, but encountered a problem. The `StreamIn` and `StreamOut` are initialized as class variables:

[code]
I initially made them instance variables, without thinking much, but then the binding doesn't happen. How can we set up customized versions for an instance so the users can set the timeouts and buffer sizes?

[2019-12-05 17:44] tannewt commented on #37
I think the easiest way would be to make them mutable after the init of CharacteristicBuffer. Once you have that, then you can set them in the __init__ after calling super().__init__() which will do the binding.

[2019-12-05 17:58] dhalbert commented on #37
But since there's a single instance of each, if there's more than one UARTService, wouldn't they step on each other if they want different values for `timeout` or `buffer_size`?

[2019-12-05 18:04] dhalbert commented on #37
Or, do you mean change the properties of the `CharacteristicBuffer` objects? The buffer is allocated on instantiation, though, so we'd have to throw away the old buffer.

Is this inherent due to the descriptor protocol? Could the binding be restructured to use instances instead?

[2019-12-05 18:21] tannewt commented on #37
There is a single instance of each StreamIn and StreamOut but they shadow themselves with either CharacteristicBuffer or BoundWriteStream for each service that is instantiated.

The timeout and buffer sizes could be removed from StreamIn/Out completely. They could be set on the service instance before calling `super().__init__()` and the binding could read them.

I thought about using instances fo

[2019-12-06 18:34] #35 closed

[2019-12-07 04:54] dhalbert opened #41 "Add Advertisement length checking."
Now that extended Advertisements are allowed, check Advertisement lengths, and allow longer Advertisements if a flag parameter is set, but complain otherwise. Flag name could be `extended_supported`, `extended_allowed` or similar.

[2019-12-07 04:54] dhalbert commented on #36
Fixed by #39.

[2019-12-07 04:54] #36 closed

[2019-12-08 21:13] dhalbert commented on #27
This is due to overflowing the peer's buffer, which is is a ring buffer. There is no flow control, so either the sender should regulate the flow, or the receiver should ignore bad packets.

[2019-12-08 21:13] #27 closed

[2019-12-08 21:14] dhalbert commented on #24
Not seen with reworked code and API.

[2019-12-08 21:14] #24 closed

[2019-12-08 21:15] dhalbert commented on #28
@tcpipchip If you'd like, please re-test with CircuitPython 5.0.0-beta.0 and adafruit_ble 3.1.0 or later (3.1.0 will be released soon). Closing for now, but please re-open or open a new issue if you see a problem.

[2019-12-08 21:15] #28 closed

[2019-12-10 17:15] dhalbert opened #42 "Wrap _bleio exceptions which might get thrown to user code"
Add `adafruit_ble` bindings for _`ble.*Exception` so that user code can catch them without importing `_bleio`.

@kattni has need of this for a BLE central program, and so would most other folks.

[2019-12-11 13:09] jerryneedell opened #44 "apple notifications - soft device error"
I tried the ble_apple_notifications.py demo on a CPB with 5.0Beta.1
this error occurred

[code]

same error on a feather_nRF52840 express
updated to 3.1.1 -- still same error

[2019-12-11 14:36] dhalbert commented on #44
Which model of iPhone or iPad are you using?

[2019-12-11 15:31] jerryneedell commented on #44
This was before I tried to connect.
I gave an iPhone 7 and an iPad pro

[2019-12-11 19:14] jerryneedell commented on #44
Does this work for you?

[2019-12-11 19:14] tannewt commented on #44
0007 is invalid parameter.

@jerryneedell can you try running it as code.py? There may be something that is being long lived. However, long living usually happens after an import finishes I believe.

[2019-12-11 19:17] jerryneedell commented on #44
@tannewt same failure as code.py on feather_nrf52840_express

[2019-12-11 19:52] jerryneedell commented on #44
I'm just puzzled what is different from my setup that yours.

[2019-12-11 21:12] jerryneedell commented on #44
just to be sure, I tried entering the commands at the REPL -- same result
[code]

[2019-12-12 15:06] tcpipchip commented on #28
@dhalbert

Hi, i am having problems on NINA B302 with new CIRCUITPYTHON version

I am using bootloader
feather_nrf52840_express_bootloader-0.2.13_s140_6.1.1

=====================
WORKS, I CAN ACCESS CIRCUITPY (E:) if use
adafruit-circuitpython-sparkfun_nrf52840_mini-pt_BR-4.1.0

WORKS, I CAN ACCESS CIRCUITPY (E:) if use
adafruit-circuitpython-sparkfun_nrf52840_mini-en_US-5.0.0-alpha.4

FREEZEE CI

[2019-12-12 16:12] dhalbert commented on #28
@tcpipchip This is a new bug, and it's in CircuitPython itself, not the library, so normally, please open a new issue, in https://github.com/adafruit/circuitpython. However, this is probably the same bug ashttps://github.com/adafruit/circuitpython/issues/2339 and is fixed after beta.1 by https://github.com/adafruit/circuitpython/pull/2376.

[2019-12-12 17:00] tcpipchip commented on #28
Can i use the version 4.0 to test the new ble version ?

[2019-12-12 17:39] dhalbert commented on #28
No, sorry, the API has changed a lot. You can wait for the next beta, or here is a test .uf2 to try for now, but there are still more bugs to fix:
[sparkfun_nrf52840_mini-volatile-fix.zip](https://github.com/adafruit/Adafruit_CircuitPython_BLE/files/3957097/sparkfun_nrf52840_mini-volatile-fix.zip)

[2019-12-12 20:57] tannewt commented on #44
I think this might be because of the new auto-scan response which adds a different complete name. Testing it now.

[2019-12-12 20:58] tcpipchip commented on #28
@dhalbert
This firmware make the E: works :)
Where is the BLE LIB to me test ?

[2019-12-12 21:07] dhalbert commented on #28
https://github.com/adafruit/Adafruit_CircuitPython_BLE/releases/latest

[2019-12-12 21:09] tcpipchip commented on #28
@dhalbert
I had found!
Good news
![image](https://user-images.githubusercontent.com/11488460/70749196-794a1c80-1d0a-11ea-8b00-ceaaf4158f8b.png)

[2019-12-12 21:15] tannewt commented on #44
It is more complicated than that. Still looking.

[2019-12-12 22:28] #44 closed

[2019-12-15 20:19] kevinjwalters commented on #37
Any rough ETA on this? I was using a longer timeout in a simple "protocol" and need to know whether to recode this or wait.

It's ultimately for an Adafruit Learn Guide which I was hoping to finish up by 20th.

[2019-12-15 20:22] dhalbert commented on #37
@tannewt Is this part of your addition of other kinds of buffers, or should it be done independently?

[2019-12-16 05:17] tannewt commented on #37
I don't have a pending change for this. PacketBuffer is independent at the moment.

[2019-12-18 12:56] kohlerm opened #46 "ble_hid_periph.py does not work for me"
https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/master/examples/ble_hid_periph.py
does not work for me because the Keyboard constructor does not expect an argument.
I checked the library and it does not seem to be support that argument.
Anything I'm missing here?

[2019-12-18 13:43] kohlerm commented on #46
Looks like the change to support the argument was reverted. Anyone knows why?

[2019-12-18 20:15] tannewt commented on #46
Oops! I tested with a version I had changed. Here is a WIP branch: https://github.com/tannewt/Adafruit_CircuitPython_HID/tree/pass_in_devices

I'll test it after lunch and then make a PR if it all looks good. Thanks for filing an issue!

[2019-12-18 21:14] tannewt commented on #46
PR pending here: https://github.com/adafruit/Adafruit_CircuitPython_HID/pull/43

[2019-12-18 21:19] tannewt commented on #46
Confirmed ble_hid_periph.py works with it as well.

[2019-12-19 08:08] kohlerm commented on #46
Great let me check that on the weekend :-)

[2020-01-06 18:38] jscholes opened #50 "Bonded connections are not automatically reconnected"
Many thanks for everybody's work on HID support thus far.  Prior to the refactor in https://github.com/adafruit/Adafruit_CircuitPython_BLE/commit/8291ee9b1bd2206cb384483183c30358be40e6c5, I was using code like (simplified):

[code]

Once I'd paired my iOS device once, it would automatically connect and pair with the CircuitPython board as long as it was advertising (i.e. if I turned on Bluetooth i

[2020-01-06 18:51] dhalbert commented on #50
I am working on bonding right now (finished the coding over the weekend).  believe the issue you are seeing is because we are not temporarily remembering the pairing information right now. In any case, it's in process.

[2020-01-12 13:04] tadakado opened #52 "Unknown soft device error: 0012 (when trying to connect multiple devices)"
This is really cool project! I want to connect multiple device.
But, I can't connect 3 or more devices. Here is a code and error message.
I tried CurrentTimeService and ANCS, and both give the same error message.
[code]
[code]

I use REPL on
feather_nrf52840_express_bootloader-0.2.13_s140_6.1.1.zip
adafruit-circuitpython-bundle-5.x-mpy-20200109.zip

[2020-01-12 15:42] dhalbert commented on #52
The number of BLE connections is fixed at compile time. Right now it's set at 2. This is because RAM allocation for the storage needed for the underlying "SoftDevice" library from Nordic that we use is also fixed, and is related to the number of connections.

We should probably give a better error. Do you have a use case for more connections, or are you trying things out? If you want to have lots

[2020-01-12 22:38] tadakado commented on #52
I'd like to make a centralized notification system, which captures ANCS of my family's iPhones. At this point, I have 3 iPhones. That's why I tried more than two. Also, if it can transfer aggregated notifications to a server by BLE would be nice. Temporally, I can use two or more boards and transfer by wire. Thanks!

[2020-01-12 23:25] #52 closed

[2020-01-14 16:40] dhalbert opened #62 "BLE HID paired connections not working on some Windows 10 peripherals"
Copied from adafruit/circuitpython#1050.

@urish:

@mscosti:

[2020-01-14 21:13] jscholes opened #55 "VoiceOver Modifier keys not recognised by iOS device over BLE HID"
When sending keystrokes to an iOS device using the new BLE HID support, any modifiers seem to be discarded.  For example, using the following code after a connection has been established (where `kbd` is an instance of `adafruit_hid.keyboard.Keyboard`):

[code]

With [iOS VoiceOver](https://support.apple.com/guide/iphone/turn-on-and-practice-voiceover-iph3e2e415f/ios) turned on, Ctrl+Option+H shoul

[2020-01-14 22:31] dhalbert commented on #55
`Keycode.SHIFT` is working (I'm getting capital letters), so I don't think it's modifier keys in general.

I did a websearch for [ iOS go to home screen keyboard shortcut ], and what I saw says to use Command+H, i.e. `kbd.send(Keycode.COMMAND, Keycode.H)`
E.g. https://www.howtogeek.com/398356/20-keyboard-shortcuts-every-ipad-owner-should-know/

Could you try that?

[2020-01-14 22:48] jscholes commented on #55
@dhalbert sure, and thanks for the response.  I'll try this in a short while here.

I should note that Ctrl+Option+H should absolutely work, as it does on a physical keyboard.  But only with VoiceOver turned on.  There are a bunch of other commands provided by VoiceOver, which won't have system-level equivalents.

[2020-01-14 22:51] jscholes commented on #55
Cmd+H does work.

[2020-01-14 23:06] dhalbert commented on #55
I see https://support.apple.com/guide/iphone/control-voiceover-with-magic-keyboard-iph6c494dc6/ios, and that "VO" is either Ctrl+Option or Shift-Lock. I don't know what to say, but the code for BLE HID is very similar at the lower level. The BLE part of it doesn't even know about modifier keys specially: it is just passing on the modifier bits generated by `adafruit_hid`. Perhaps the low-level key

[2020-01-14 23:10] jscholes commented on #55
I have used an Apple keyboard, but these commands have also worked with Bluetooth keyboards from other manufacturers.  We can reach out to a contact at Apple, and try to spy on what an Apple keyboard is doing.  But like you, I'm stumped at this point.

[2020-01-15 14:46] dglaude commented on #42
This is also needed for adafruit/Adafruit_CircuitPython_BLE_Magic_Light that use _bleio just to catch disconnection. It's both in the Readme and the example.

Any other proper way to do that is welcome.

[2020-01-15 22:45] dglaude opened #57 "ble_bluefruit_connect_plotter.py should have delay in sending loop"
In the "ble_bluefruit_connect_plotter.py" example, the code is sending sensor data as fast as possible both on the "console" and the BLE UART.

Reading information about Bluefruit LE connect application and the plotter function, I find recommendation of not sending too much/fast data: https://learn.adafruit.com/bluefruit-le-connect/plotter

It might also be wrong to send so much on the "console" a

[2020-01-17 01:06] mscosti commented on #62
ok, so, weird. Used 3.1.2 from the release page of the BLE lib instead of from the bundle and i am getting flags (but sometimes not TX power? maybe a fluke).

I was still getting the same driver issue unfortunately, but on the plus, the devices was showing up in the scans from my laptop much more reliably.

So, maybe the win10 driver issue isn't only advertisement related? I looked into the servic

[2020-01-17 01:07] dhalbert commented on #62
This was a confluence of two separate bugs: see #63. The flags were not included in advertisements, _except_ that if you printed the advertisement (which the code I was using did, for debugging purposes), another bug cause the flags to be included.

[2020-01-17 01:10] mscosti commented on #62
That explains why running your code on 3.1.2 had advertisements for me.

Thoughts on above finding about the unknown service?

[2020-01-17 02:08] mscosti commented on #62
Just loaded it up and used my example file that doesn't have the same logging as you.

✅ am now seeing flags and tx power being sent in Advertisement
✅ no issue getting windows to see the device (before would take several reboots of board + luck)
⛔️ My machine running windows 10 still shows driver error after connecting.

Hmmm. Do you think its possible Windows is really picky and not liking the f

[2020-01-17 02:23] dhalbert commented on #62
Hmm. I'm not sure why it's still complaining. Did you remove the device in Windows before re-pairing? I don't think it should care about the extra service: I wouldn't expect it to give such a low-level error; at worst I'd expect it to refuse to do HID. I'll check among my laptops to see if I have one with builtin BLE.

If you use my example, do you _not_ get an error? Could you post your own code?

[2020-01-17 02:28] dhalbert commented on #62
Which board are you using? I'll give you a build with it turned off.

[2020-01-17 02:31] dhalbert commented on #62
Also, could you give more details of the exact builtin Bluetooth device by looking it up in Device Manager?

[2020-01-17 02:46] mscosti commented on #62
* Yeah, I have been making sure to remove it before attempting to repair again. and yeah, it does not get an error with the arduino example
* I'm using the CircuitPlayground Bluefruit
* I think the name of my Bluetooth device is 'Marvel AVASTAR'. Screenshot dump below, since i'm not sure what is most helpful

![image](https://user-images.githubusercontent.com/3848505/72580124-10c20280-38a9-11ea-92

[2020-01-17 02:53] mscosti commented on #62
Not sure if relevant, but computer OS specs:
* Windows 10 Pro
* Version 1909
* OS version: 18363.535

[2020-01-17 02:55] dhalbert commented on #62
Here are two CPB builds. One is the latest tip of master, the other is the same, but with the ADAF services turned off. Not tested with HID.
[cpb-8b6133393.uf2.zip](https://github.com/adafruit/Adafruit_CircuitPython_BLE/files/4074838/cpb-8b6133393.uf2.zip)
[cpb-8b6133393-dirty-no-adaf-service.uf2.zip](https://github.com/adafruit/Adafruit_CircuitPython_BLE/files/4074839/cpb-8b6133393-dirty-no-adaf-

[2020-01-17 03:24] dhalbert commented on #62
This is interesting: https://winbuzzer.com/2019/11/19/microsoft-sends-out-driver-update-for-older-surface-products-xcxwbn/
In particular, there's an update for the Marvell AVASTAR Bluetooth Radio Adapter.

Also zephyr was having trouble re-pairing with the Marvell: https://github.com/zephyrproject-rtos/zephyr/issues/14044.

[2020-01-17 04:10] mscosti commented on #62
First, I tried `cpb-8b6133393-dirty-no-adaf-service.uf2.zip` . I think there might be an issue with the build. After attempting to pair from pc or android, it was hanging and failing, and CPB code crashed. Weird thing is the USB device seemed to also crash and it d/c itself.

Then, I tried the master build `cpb-8b6133393.uf2.zip`, and, that seems to be working! Must mean that something between bet

[2020-01-17 13:31] dhalbert commented on #62
I implemented bonding between beta.3 and master, and changed some internal state-keeping very slightly. The zephyr issue I mentioned above seems to have something to do with connection negotiation, so it may have to do with that rather the the advertisement specifically. But the advertisements definitely were buggy.

[2020-01-21 06:38] #62 closed

[2020-01-21 17:40] #57 closed

[2020-02-07 01:25] tannewt commented on #46
This is fixed by https://github.com/adafruit/Adafruit_CircuitPython_HID/pull/43

[2020-02-07 01:25] #46 closed

[2020-02-20 05:05] banada opened #71 "Fails to import on nRF52840 Express"
CircuitPython cannot import the adafruit_ble library.

**Platform:** Adafruit Feather nRF52840 Express (https://www.adafruit.com/product/4062)

**CircuitPython Version:** 4.x.x and 5.x.x

**Steps to Reproduce:**
Flashed firmware and copy/pasted code according the instructions in this tutorial:
https://learn.adafruit.com/ble-hid-keyboard-buttons-with-circuitpython/ble-keyboard-buttons-libraries-and

[2020-02-20 05:07] banada commented on #71
**Note:** Bluetooth testing platform and development platform is Windows 10

[2020-02-20 05:12] dhalbert commented on #71
Which bundle or which release are you using for `adafruit_ble`? Recent versions should give that error for 4.x.x but not for 5.0.0-<whatever>.

[2020-02-20 05:22] banada commented on #71
I am testing against:
The 5.x bundle here: https://circuitpython.org/libraries
and the 5.0.0-beta.5 firmware here: https://circuitpython.org/board/feather_nrf52840_express/

[2020-02-20 05:23] banada commented on #71
Specifically:
adafruit-circuitpython-bundle-5.x-mpy-20200219
and
adafruit-circuitpython-feather_nrf52840_express-en_US-5.0.0-beta.5

[2020-02-20 05:33] dhalbert commented on #71
I do not see this problem with 5.0.0-beta.5 and the latest `adafruit_ble` from the bundle (20200220).

Make sure there is not another `adafruit_ble` in `/`. That will override anything in `lib/`. Delete the copy in `lib/` and copy it again. If you are on Windows, do an Eject on CIRCUITPY from the taskbar after doing the copy, to make sure it is completely copied. It may take Windows 10's of second

[2020-02-20 06:06] banada commented on #71
This was the problem. I guess I was still running 4.x firmware. Thank you so much!

[2020-02-20 06:08] #71 closed

[2020-03-17 18:10] dhalbert commented on #41
@tannewt I thought you fixed this? I'm not sure.

[2020-03-17 18:13] dhalbert opened #75 "start_scan(): if no Advertisements are given, nothing is returned."
This recent changed to the code in `start_scan()`:
[code]
means that if no `advertisement_types` are given, no advertisements at all will be returned by `start_scan()`, so it appears as if nothing is advertising. Previously, all received advertisements would be returned as `Advertisement` objects.

@tannewt I thought I understand your change in #72, but now I realize I didn't.

I think `advertisem

[2020-03-17 22:38] tannewt commented on #41
I don't think I ever added it.

[2020-03-17 22:40] tannewt commented on #75
Yup, I believe we need a default for `advertisement_types` when it is empty. The bug I fixed was that when a type is given, Advertisements were returned if a scan matched the first prefix but not the class's match().

[2020-04-03 18:38] #75 closed

[2020-04-04 22:08] mak3rm1k3 opened #77 "uuid has no attribute pack_into"
I'm trying this out for the first time on a rpi zero w, and after installing the library I keep getting an error:

`AttributeError: 'UUID' object has no attribute 'pack_into'`

Running with Python 3 here is a sample of my code:

[code]

Looking more closely the error is in line 63 of uuid/__init__.py:

[code]

any advice?

Edit: Seems like the issue is actually coming from declaring the advertisem

[2020-04-06 21:47] mak3rm1k3 commented on #77
Thanks so much for getting back to me on this. I'm pretty green on this level of python (hardware bytes level), so I'd love help adding in pack_into to the Blinka library. What exactly do you need me to add?

[code]

Something like this into the UUID class?

I think I understand your second suggestion, to just inspect the type that is returned from a bytes() when assigned to advertisement_bytes? I

[2020-04-07 17:25] tannewt commented on #77
Awesome! Thank you! I'm available on [our Discord](https://adafru.it/discord) too. Just @tannewt there.

Yup! Same signature (the `def ` line) but with code inside that sets the values in the buffer. This is the C version: https://github.com/adafruit/circuitpython/blob/master/ports/nrf/common-hal/_bleio/UUID.c#L70

Not quite. You'll want to find the advertisement class and fix it so that it return

[2020-04-16 15:55] dhalbert opened #79 "More thorough documentation"
The library could really use more thorough documentation, through more examples, overview text, a, detailed explanatory text. A Learn Guide is probably appropriate, but there should be more inline documentation too. The declarative nature of `Service` and `Advertisement` needs to be more thoroughly explained, for example.

[2020-04-21 18:49] Kimpeh commented on #77
I also encountered this issue "AttributeError: 'UUID' object has no attribute 'pack_into'".
Can you please advise as to what code needs to be added to the Blinka bleio library?

Thanks!

[2020-04-22 20:10] tannewt commented on #77
@makermelissa Any chance you could add `pack_into` into Blinka_BLE?

[2020-04-24 21:07] askpatrickw commented on #79
A link to the documentation in the Readme would be nice too.

https://circuitpython.readthedocs.io/projects/ble/en/latest/

[2020-05-04 16:29] makermelissa commented on #77
I missed the tag. I just created a new issue at https://github.com/adafruit/Adafruit_Blinka_bleio/issues/10

[2020-05-04 16:34] dhalbert commented on #55
@jscholes We're reviewing all our open issues for action. Have you reached any further understanding on this? Thanks.

[2020-05-04 16:41] jscholes commented on #55
@dhalbert Sorry for not updating sooner.  We got this working by sending each modifier one by one in a particular order, and then releasing one-by-one with that order reversed.  Option then Control, if it helps anybody coming to this thread later.

[2020-05-04 16:41] #55 closed

[2020-05-04 21:52] tannewt commented on #77
Ok, closing this in favor of https://github.com/adafruit/Adafruit_Blinka_bleio/issues/10

[2020-05-04 21:52] #77 closed

[2020-05-09 08:34] dglaude commented on #37
Would it be possible to do the same thing for the uuid?
For one of my BLE device I had to duplicated your code, only changing the uuid.
Do you want this in an other issue?

[2020-05-09 13:56] dhalbert commented on #37
@dglaude I just changed the title. Is this for the so-called "Transparent UART" service, with service UUID `49535343-FE7D-4AE5-8FA9-9FAFD205E455`? I am using that here: https://github.com/adafruit/Adafruit_CircuitPython_BLE_BerryMed_Pulse_Oximeter/blob/master/adafruit_ble_berrymed_pulse_oximeter/adafruit_ble_transparent_uart.py, with just copied code, which I would like to fix eventually.

[2020-05-09 15:17] dglaude commented on #37
The UUID of the gadget I use is `53300001-0023-4BD4-BBD5-A6920E4C5653` and the 001 is replaced by 002 for TX and 003 for RX. That vendor has various set of UUID for different model and hardware revision. But there is always that 2=TX / 3=RX change in the UUID.

Apparently it is very common for old protocol that used to be build on Bluetooth SPP (Serial Port Profile) and have evolved to BTLE where

[2020-05-14 16:28] dhalbert opened #82 "prefix building"
Currently the advertising `prefix` mechanism requires counting bytes and manually including a length. I was thinking about some helper functions for this. Straw ideas:

[code]
The class method would add length headers and merge into a single `bytes`
and maybe also include any/all matching designation in a `Prefix` object:
[code]

The `prefix` class-variable name might be renamed to `prefixes` or `

[2020-05-14 17:02] kevinjwalters opened #83 "Expose ADAFRUIT_COMPANY_ID and MANUFACTURING_DATA_ADT"
`_MANUFACTURING_DATA_ADT` and `_ADAFRUIT_COMPANY_ID` are defined in https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/5d584576ef79ca36506e6c7470e7ac5204cf0a8d/adafruit_ble/advertising/adafruit.py#L43-L44 as `0xFF` and `0x0822`, respectively. The underscore prefix _in conjunction with the use of_ `const()` (@dhalbert clarified this) makes them truly private and unusable from elsewhere.

T

[2020-05-14 18:12] tannewt commented on #82
The first makes sense to me. I'm not sure you can do the any or all currently with the native _bleio filtering. I believe it's always any.

[2020-05-14 19:06] dhalbert commented on #82
Right, I was thinking only of the Python-based filtering. Right now you have to override the `matches()` function to provide `any`, and I was trying to think of an easier way. But it would be confusing to have only one for native and two for non-native.

[2020-05-15 04:39] kmatch98 opened #84 "BLE keyboard or mouse as input"
I’d like an example of how to receive input from an BLE keyboard or mouse as an input device. I see an example file here but it is commented out and mentions that it needs to be updated:

[Adafruit_CircuitPython_BLE/examples/ble_hid_central.py](https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/master/examples/ble_hid_central.py)

[2020-05-17 03:29] kmatch98 commented on #84
@dhalbert was kind enough to give some feedback on discord, I thought it would be useful to capture that here for future reference.

————

danh: sorry, it looks like there's a lot more work to do in the original library to get this to work; this is a bigger job even for a simple demo than I thought

kmatch98: I spent some hours looking through the various libraries from the HID peripheral example

[2020-05-18 00:06] kevinjwalters commented on #79
Some other things that would be good to document and provide/cite examples:

 - I don't yet understand exactly how `prefix` works. I think this is what determines if an incoming packet matches the type of `Advertisement` - not clear if this is dependent on fields being identically ordered
 - I've not worked out yet if field order is predictable for `Advertisement` with the CP libraries. Even if th

[2020-05-27 15:55] kevinjwalters commented on #83
I'm thinking of using `sequence_number` like the one used for `AdafruitSensorMeasurement` in https://github.com/adafruit/Adafruit_CircuitPython_BLE_BroadcastNet/blob/c6328d5c7edf8a99ff719c3b1798cb4111bab397/adafruit_ble_broadcastnet.py#L84-L85

Does it make sense for its id number (`0x0003`) to be somewhere to allow developers to use it in custom `Advertisement` packets?

[2020-05-27 21:57] dglaude commented on #84
@dhalbert Two questions and a set of argument to have this working:

(A) Do you think that this example was ever working?

If I find the date when this example was created without comment, then matching CircuitPython Firmware on that date, for a board that existed, and with library of that date... would I be able to get key from a BLE keyboard?

(B) Do you think it is possible to make a new demo t

[2020-05-27 23:09] kevinjwalters commented on #79
I had this in a sub-class of `Advertisement` and this broke the parsing on received ads from `start_scan()`:

[code]

Sending

[code]

got turned into

[code]

on arrival. Note the final `00` bytes, that must be linked with `round=0`.

I changed it to this as a guess:

[code]

and that fixed it. This is not intuitive and needs documenting.

[2020-05-28 15:59] dhalbert commented on #79
I am working on an improvement on this to fix #82. You'll give a tuple of prefixes and it will combine them into a single concatenated prefix string to pass to `_bleio`. Also there will be more doc :smiley: .

The order does not matter for matching purposes.

It is not predictable. So far we haven't found a device that cares.

Could you open an issue for to add `__eq__`? Thanks.

[2020-05-28 16:07] dhalbert commented on #79
This sounds like a bug: something is just checking falsey-ness instead of `is None`. Could you open an issue for this too, with a bit more detail or a pointer to the code? Thanks.

[2020-05-28 18:20] kevinjwalters opened #85 "Implement __eq__ for Advertisement"
Implementing `__eq__` method for `Advertisement` class will allow them to be compared in a useful way. Documention on how this works when some fields are not set would be useful.

Interim workaround is `bytes(ad1) == bytes(as2)`

First mentioned in comments in #79.

[2020-05-28 18:26] kevinjwalters opened #86 "A custom Advertisement with a constructor can fail to parse incoming BLE data correctly"
This innocent looking constructor in a sub-class of `Advertisement`:

[code]

was causing ads to be receieved on another Adafruit device use this library as

[code]

Originally mentioned in the comments of https://github.com/adafruit/Adafruit_CircuitPython_BLE/issues/79#issuecomment-634990957

[2020-05-28 18:27] kevinjwalters commented on #86
I'm in the middle of writing an application using BLE. Give me a week or so and I'll provide a concise example which shows this.

[2020-05-28 21:04] kevinjwalters commented on #79
Some other things that would be good to document and provide/cite examples PART DEUX:
 - description of how `start_scan()` behaves if lengthy processing/delays are added in the loop that retrieves data from it and recommendations about not doing this if appropriate.

[2020-05-30 20:08] kevinjwalters commented on #82
Can you show how `AdafruitColor` would look with this new approach?

[2020-05-30 20:36] dhalbert commented on #82
I'm working on a PR that includes this, and after working through a couple of ideas, I'm now just using a tuple of bytes, e.g.
[code]
For `AdafruitColor`, I have this, but haven't tested it yet:
[code]
Basically, you don't have to concatenate the prefixes yourself, and you don't have to do length-counting yourself (which reminds me of FORTRAN Hollerith counting: `7HTHE END`).

[2020-05-30 20:47] kevinjwalters commented on #82
I've been building up a few more observations in https://github.com/adafruit/Adafruit_CircuitPython_BLE/issues/79#issuecomment-635607039. I have just noticed that setting `tx_power` breaks the start_scan matching for an `Advertisement` sub-class I've made. Does your proposed matching solve that? I was also wondering if the `"<"` are better applied by the library code?

[2020-05-31 14:14] dhalbert commented on #82
There is a bug (https://github.com/adafruit/circuitpython/issues/2973) that manifests when the prefix matching is "all" rather than "any". I don't know if that would cover your case here. Could you point to your code? Could you show the raw advertisement and scan response that do not work with the current matching?

The library could add the `<`, but that means we'd need a wrapper function for `st

[2020-05-31 23:17] kevinjwalters commented on #82
I didn't know about https://github.com/adafruit/Adafruit_CircuitPython_BLE_Radio . I had a glance at the code and it's interesting to see that it's still based on `Advertisement`s. I thought when it mentioned channel numbers that it was allowing a specific Bluetooth Low Energy channel to be used but the range is too big AFAIUI. In the code it just looks like a data field in the messages. It also h

[2020-05-31 23:45] dhalbert commented on #82
Yes, the "channel" numbers" are just an ID, not a frequency channel. Extended advertising can work on devices that support it. This is meant to be between CircuitPython devices. If it doesn't work, let us know, of course.

[2020-06-01 01:40] kevinjwalters commented on #82
I've not read about the extended Advertising support, do all CircuitPython devices support it? In terms of devices that would cover the Raspberry Pis too, wouldn't it? I always forget people use the CP libraries there. Is this the feature from Bluetooth 4.2 than enables it http://software-dl.ti.com/lprf/sdg-latest/html/ble-stack-3.x/data-length-extensions.html ?

[2020-06-01 02:38] dhalbert commented on #82
The nRF52840 (and therefore CPy) do support this. The two sides of a connection negotiate this.

[2020-06-02 13:03] kmatch98 commented on #84
In looking a bit more at the gaps here and working to comprehend @dhalbert comments on the notes above and the weekly call yesterday, I discovered that the [HID keyboard library](https://github.com/adafruit/Adafruit_CircuitPython_HID/blob/master/adafruit_hid/keyboard_layout_us.py) consists of only `write` functionality but a `read` function is absent. I think this may be why dan mentioned that the

[2020-06-02 15:19] kevinjwalters commented on #82
I had not realised the `prefix` could be multiple ones concatenated. That's not obvious. There's an example of this in https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/ffd1f1d9f08dc9df6ea1a4ac08338e999b052f75/adafruit_ble/advertising/standard.py#L168-L186

[2020-06-06 00:34] kevinjwalters opened #87 "Long Advertisement messages don't appear to be received by start_scan()"
There's an inconsistency here between behaviour of short and long `Advertisement` packets presumably due to the handling somewhere of extended advertising. I'm not sure if this is at transmit or receieve end. This is on 5.3.0

Device A:

[code]

Device B (looks good):

[code]

Device A (make packet bigger, i.e. > 31 bytes):

[code]

Radio silence on device B:

[code]

[2020-06-06 00:45] kevinjwalters commented on #87
Oh, I hadn't noticed the extended default was False, this does work ok!

[code]

[2020-06-06 00:45] #87 closed

[2020-06-07 20:08] MatevzSe opened #88 "Gamepad not supported as BLE HID device"
[code]
This returns an error:
[code]

While using keyboard/mouse works fine. Is gamepad not supported as a BLE HID device?

[2020-06-07 20:17] dhalbert commented on #88
I don't remember clearly, but this may be because we couldn't get it to work on any hosts we tried. Gamepad HID support is sporadic, and it can depend on the details of the gamepad descriptor (ranges of X and Y, number of buttons, etc.)

[2020-06-07 20:33] MatevzSe commented on #88
Can you point me in any direction, where I can find some code to maybe develop something on my own?

All in all what I am interested in is that computer or android phone recognizes device as a gamepad and sends x and y coordinates. Is this maybe achivable through Arduino code, micropython?

[2020-06-07 20:53] dhalbert commented on #88
Do you have an example of one or more existing BLE gamepads? The CircuitPython support is only Bluetooth Low Energy (BLE), not classic Bluetooht.

 I have an Xbox and controller I got for testing rasons, and though it has Bluetooth, it does not show up on nRFConnect or other BLE scanners. I believe it may be classic Bluetooth, not BLE. The same may be true of the PS4 controller, but I don't have o

[2020-06-08 15:37] dhalbert commented on #88
The transport is different: it's over Bluetooth Low Energy, or over USB. But my point is that the wireless controllers that use Bluetooth don't necessarily use Bluetooth Low Energy (BLE) , sometimes called Blueooth Smart for the radio protocol; instead they use what's called Bluetooth Classic, which is a different protocol, and is not supported by the nRF boards under CircuitPython or anything els

[2020-06-08 15:50] MatevzSe commented on #88
So this could be achieved with classic Bluetooth, which means switching to HC-05 and not using CircuitPython, probably achievable with arduino code? Too bad Bluefruit EZ-Link is discontinued.

[2020-06-08 16:23] dhalbert commented on #88
The HC-05 provides a specific classic Bluetooth serial protocol, and cannot be used to emulate other Bluetooth devices like gamepads. Let me restate what I know and don't know:

- We didn't enable BLE Gamepad support over BLE HID. I don't remember why, but it might have been because I couldn't get it to work one or more host computers. I don't remember if I tried it on Android.
- I asked if you kn

[2020-06-08 17:04] MatevzSe commented on #88
I am not emulating any specific controller, I am trying to build my own.
Ok, let me rephrase that and explain my project. I would like to build balancing board, that would send data (computed by accel/gyro) to android/computer wirelessly, emulating movement similar to gamepad joystick x and y. The idea is that board could be used by different apps that supports controllers joystick.

[2020-06-16 18:52] #82 closed

[2020-06-24 13:22] madgrizzle opened #91 "CircuitPython Locks Up on Disconnect"
Using the current time service example on a Adafruit Feather nRF52840 Sense with CircuitPython  5.3 (and on 5.4-beta1):

https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/master/examples/ble_current_time_service.py

I connected the sense with my android phone running the Nordic nRF Connect for Mobile app.

[2020-06-24 13:37] dhalbert commented on #91
I have tried this on a Samsung tablet, but it doesn't seem to provide the time service.

I thought that nRFConnect doesn't provide the time service, so have you paired the Sense previously with your phone via the Bluetooth settings? I'm guessing you are _not_ connecting via the Connect button in nRFConnect, but are somehow forcing a disconnect from there. Could you give a step-by-step recipe? If y

[2020-06-24 13:48] madgrizzle commented on #91
I configured the GATT Server in nRFConnect to include Current Time Service (menu->Configure GATT Server->Add Service and select the Current Time Service under Select server configuration). I then connect to the sense using the connect button in nRFConnect, it then asks me if I want to pair (I did the forget as requested).  Once paired, the sense starts streaming the time.  When I close the tab for

[2020-06-27 15:22] dhalbert opened #92 "examples/ble_detailed_scan.py no longer working"
`ble_detailed_scan.py` is no longer working; prints nothing. `examples/ble_simpletest.py` still scans. Found by anecdata (discord). Confirmed on CircuitPython 5.3.0 and 5.4.0-beta.1.

[2020-06-27 15:26] dhalbert commented on #92
Changing
[code]
to
[code]
starts producing results.

[2020-06-28 14:32] #92 closed

[2020-06-30 17:37] dhalbert opened #94 "Receiving >20 bytes at once from Bluefruit Connect app not working"
@ Thornhill in discord says a UART message of  >20 bytes from the Bluefruit Connect app to, say, `ble_uart_echo_test`, is dropped. Sending to/from two CircuitPython boards does work. Also, does work sending to Arduino.

Confirmed by @caternuson.

[2020-06-30 17:41] caternuson commented on #94
Yep. Just adding results of my simple and brief test. Phone is Android. BLE Connect v3.3.2. Running this example:
https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/master/examples/ble_uart_echo_test.py

![Screenshot_2020-06-30-10-25-14](https://user-images.githubusercontent.com/8755041/86158798-2aa17b80-babe-11ea-9202-2adf3707c85b.png)

[code]

[2020-06-30 20:30] #88 closed

[2020-07-03 17:23] madgrizzle commented on #91
I can also confirm this happens using a custom built version of GadgetBridge, not just nRFConnect.  It appears that killing the connection (shutting down the app) typically results in an "unknown gatt error 0x101", which can be caught (try/exception).  But if you ruthlessly shutdown (i.e., power off the phone) or you move the phone too far away from the board, it often results in a complete lock-u

[2020-07-07 15:25] kevinjwalters commented on #86
[code]

CLUE 1

[code]

CLUE 2

[code]

[2020-07-23 16:12] kevinjwalters opened #96 "ComplexCharacteristic does not pass fixed_length instance variable to _bleio.Characteristic.add_to_service"
This does not pass a keyword arg of `fixed_length` and therefore picks up a `False` default value:

https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/e38b153dbcff10a72b7ab422882558e3a406e458/adafruit_ble/characteristics/__init__.py#L206-L214

The class does have an instance variable of `fixed_length` - it looks like this was intended to be passed?

[2020-08-23 12:44] roamingthings opened #100 "Release 7.20 is not compatible with CircuitPython 5.3.x"
While trying to advertise something using `start_advertising()` I constantly ran into an error:
[code]

After comparing the documentation of CircuitPython 5.3.x and the current version (6.x.x) regarding the underlying call to `start_advertising`of `Adapter` [5.3.x](https://circuitpython.readthedocs.io/en/5.3.x/shared-bindings/_bleio/Adapter.html#_bleio.Adapter.start_advertising) / [6.x.x](https://

[2020-08-23 14:23] #100 closed, assigned to dhalbert

[2020-08-24 10:18] jackjansen opened #102 "Fails with asyncio exception on Mac"
Installed the module (Python 3.7, MacOS 10.15) according to the instructions in the readme file. Installed in a virtual environment.

Tried to run the example code (again from the readme).

I get a RuntimeError from asyncio:

[code]

[2020-09-04 13:18] kevinjwalters commented on #79
I mentioned how prefix matching works in https://learn.adafruit.com/rock-paper-scissors-circuitpython/advanced-game#advertisement-matching-3070937-39 - I've assumed it still checks the length field at the start of the packet but haven't checked that yet..

[2020-09-16 02:25] alexwhittemore commented on #52
@dhalbert Does that two-connection limit apply regardless of platform, or is this different on the Pi with adafruit-blinka-bleio? I've got a fleet of feathers all trying to connect to a raspberry pi. The feathers all advertise a UART service, and the Pi is supposed to connect to any suitable devices it sees and sink their data.

I modified the "echo" example on the Pi side to "look for UART server

[2020-09-16 19:15] tannewt commented on #52
@alexwhittemore Please open a new issue on https://github.com/adafruit/Adafruit_Blinka_bleio

The limit discussed here is for CircuitPython, not the Pi.

[2020-09-16 19:30] dzervas opened #104 "soft device error: 0004 when paring with BLE HID peripheral"
I'm trying to get the BLE HID central to play (I just need the event report bytes). HID needs pairing and when I try to pair I get the following error and then the BT connection just times out:

[code]

The code I use is the following
[code]

I tried `# _bleio.adapter.erase_bonding()` just in case the flash is full at the address that pairings take place but it didn't work (same exact error). I'm

[2020-09-16 22:15] dzervas commented on #104
I tried the same code on circuitpython 6.0.0-alpha3 downloaded from the website (I'm using a Particle Xenon) and I get the same error

[2020-09-17 18:40] dhalbert commented on #104
I had a discord conversation with @dzervas about this previously, and will look at this at some point. I do not remember whether I implemented pairing as a central yet.

[2020-10-26 23:30] street-grease-coder commented on #84
there is a now very popular esp32/arduino library for this- was there any progress on the example code here?

[2020-11-05 04:47] canyon289 opened #106 "Trying to get my feather sense to send data to my desktop, seem to be missing something"
Hi,
I'm trying to get data from my feather sense sent to my desktop over BLE but I seem to be missing something. Currently just trying to send over the counts.

I've also recorded a video explanation to help as well.  https://youtu.be/I14jim7SfaE

I'm new to the circuit python world so I may be missing something obvious. Any tips or pointers as to what that could be would be helpful.

Thanks in ad

[2020-11-05 15:21] ladyada commented on #106
hi are you following this guide?
https://learn.adafruit.com/circuitpython-ble-libraries-on-any-computer
https://learn.adafruit.com/circuitpython-ble-libraries-on-any-computer/ble-uart-example

[2020-11-05 15:27] canyon289 commented on #106
Definitely, and thank you for these awesome guides!

I tried this one as it showed how to send information back from the central. Looking at the code the relevant code blocks were the same as the pdf example above which adds to my confusion! I believe you all it works, hence the confusion. But it's a new day so let me try again.

Thanks @ladyada. Appreciate the quick answer

[code]

![image](https

[2020-11-05 23:09] canyon289 commented on #106
@ladyada, and @dhalbert Thank you so much for the example and great libraries. In short it works

For those coming to this later. It seems like packet don't get captured in tcpdump. This follow the example above.

Closing as this is resolved. Much appreciated

![image](https://user-images.githubusercontent.com/7213793/98306477-cb2a0f80-1f78-11eb-8f84-d58f63f91620.png)

[2020-11-05 23:09] #106 closed

[2020-11-07 09:56] arslan437 opened #107 "got an unexpected keyword argument 'timeout'"
I am using rapberry  4

[code]

[2020-11-10 02:17] jpeponis commented on #107
I got this as well.

[2020-11-22 21:45] NotrinoResearch opened #108 "..."

[2020-11-22 21:46] #108 closed

[2020-11-22 21:47] darkcurrent opened #109 "High CPU usage with BLEUART"
There is high CPU usage observed when reading bytes from BLEUART connection. With modified (bigger) buffer size in `adafruit_ble/services/nordic.py`, if I read 180 bytes of BLE buffer in about 50 times per second, that uses the total CPU about 20%-25% with RaspberryPi4. RPi4 has 4 cores so that means it uses the single core about 80% to 100% percent.

Current configuration:
[code]

[2020-11-24 18:06] dhalbert commented on #108
@NotrinoResearch Why did you close the issue? Was it something in your code?

[2020-12-15 16:36] catequalsgood opened #110 "Low timeout values for BLERadio().start_scan() can lead to safe mode when calling BLERadio().connect()"
I have been using a Feather Sense in a project and noticed that about once a day it would go into safe mode. After some testing I have narrowed it down to specific values for the timeout of `start_scan()`. Large values (for example 0.1) seem fine and the code runs for several days. Very small values (for example 0.01) are simply ignored so that `start_scan()` never times out. Values in between (fo

[2020-12-15 18:57] tannewt commented on #110
Thanks for the issue! Since it is a safe mode, I'm going to move it into the circuitpython repo.

[2020-12-16 13:27] ethanHuntoo7 opened #111 "connection bleak timeout error from central device"
Python version: 3.7
Operating System: raspbian buster-lite
BlueZ version (bluetoothctl -v) in case of Linux: 5.50
Description
I was simply trying to connect a peripheral device with a central device using bleak nordic service

What I Did
first I ran a peripheral device with an advertisement that can be seen in my android scanning ble app

then in central deivce I just ran client code in the below

[2020-12-22 13:04] sandhu0409 opened #112 "start_advertising() got an unexpected keyword argument 'timeout'"
I have run ble_uart_echo_test.py and got this error
[code]

[2020-12-22 13:10] dhalbert commented on #112
This was "fixed" by https://github.com/adafruit/Adafruit_Blinka_bleio/pull/26, so you need to update your local copy of `adafruit-blinka-bleio":
[code]
However, `adafruit-blinka-bleio` does not support advertising, because it supports acting only as a BLE central, not a peripheral. So you will still get an error when you run this, just a more informative one. This is a limitation of the underlying

[2020-12-22 13:10] #112 closed

[2020-12-28 04:11] licryle opened #113 "Async waiting for reply even if Characteristic.WRITE_NO_RESPONSE specified"
TLDR: I suspect there's an OR that should be an AND in [_bleio.characteristic at line 195](https://github.com/adafruit/Adafruit_Blinka_bleio/blob/088be251df4cc5eef1f46671963dbb4124269c12/_bleio/characteristic.py#L195).

Hi folks,

I'm using adafruit_ble to connect to an off-the-shelf BLE lamp that implements a custom protocol.

To do so, I've implemented a quick custom Service using StreamIn/Out c

[2020-12-28 04:15] tannewt commented on #113
@dhalbert Have any context on this? My brain has purged BLE info.

[2020-12-28 04:25] dhalbert commented on #113
I will take a look!

[2020-12-28 23:58] alexwhittemore opened #114 "Does advertising.standard.ManufacturerDataField.field_names currently serve a purpose?"
Correct me where I'm wrong:

The two possible ways to pack multiple bits of (manufacturer) data into an advertisement are

1) create multiple ManufacturerDataField() items in your class.
Pro: you get to access that data with `AlexsAd.firstdataitem` syntax, and you get to include-or-not items as you see fit per-broadcast.
Con: Costs a few bytes to include the data type ID before the data item in th

[2020-12-29 06:19] silverman opened #115 "DeviceInfoService fails on Adafruit CLUE"
Running [this demo](https://learn.adafruit.com/ble-hid-keyboard-buttons-with-circuitpython) on an Adafruit CLUE doesn't work because of a problem with `DeviceInfoService`. The offending line is:

    device_info = DeviceInfoService(software_revision=adafruit_ble.__version__,
                                    manufacturer="Adafruit Industries")

and the stack trace:

    Traceback (most recent ca

[2020-12-29 18:54] tannewt commented on #114
You are correct about 1 and 2.

I think field_names was meant to be used in a named tuple but never implemented. You could either implement it or remove it if it's causing trouble.

[2020-12-29 19:05] alexwhittemore commented on #114
I never even knew about named tuples. I think in a perfect world that would make case 2 above a bit more convenient, without breaking anything as-is. I'll see what I can whip up re: implementing it. It looks like collections.namedtuple exists in CP 6 on my nRF52840 Feather Sense - is that universally the case across all supported platforms?

[2020-12-29 19:26] dhalbert commented on #114
Any build that supports BLE should have namedtuples.

[2020-12-30 14:44] alexwhittemore commented on #114
It looks like there aren't actually any unit tests for this codebase - if that's not true or of I biff something but it happens to work for me, is there any backstop I'm missing?

[2020-12-30 19:30] tannewt commented on #114
Nope, we're bad about testing because it's hard to do on real hardware.

[2020-12-30 19:45] alexwhittemore commented on #114
Darn - that's something I'd like to figure out how to do better myself. Pigweed looks cool but I'm still desperately confused by it. Also Renode.

Ok, I'll try to put together a pull request that takes it to fruition in the next couple days!

[2021-01-01 03:38] alexwhittemore commented on #114
Ok, so: I figured that when I define a subclass of Advertisement, such as `AdafruitColor`, the arbitrary-named `ManufacturerDataField` objects (such as `color` in that example) must get populated on matched advertisement receipt by the getter that returns a tuple on line https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/8bb1210eebed4846dae7e76ff1db86a010b132bc/adafruit_ble/advertising/st

[2021-01-10 16:46] dglaude opened #117 "for adv in ble.start_scan(ProvideServicesAdvertisement, timeout=5):"
I was testing my Cycling Cadence Sensor, mostly using code from the learn guide: https://learn.adafruit.com/bluetooth-bicycle-speed-cadence-sensor-display-with-clue/code-the-clue-in-circuitpython

But the the loops seems to never end:
`for adv in ble.start_scan(ProvideServicesAdvertisement, timeout=5):
`

Full code:
[code]

Initially I was suspecting my sensor and wondered how to reproduce, but no

[2021-01-10 16:55] dhalbert commented on #117
Dupe of https://github.com/adafruit/circuitpython/issues/3942

[2021-01-18 21:41] dhalbert commented on #102
I believe this was fixed by https://github.com/adafruit/Adafruit_Blinka_bleio/pull/21 or a following PR. Please re-open if it is still not working after you update all the dependencies.

[2021-01-18 21:41] #102 closed

[2021-01-26 20:18] alexwhittemore opened #119 "BLE scanning timeout ignored on nRF52840"
I set up a little color sender example as a debug exercise. This is the receive side of it (The send side is commented out):

[code]

Note `ble.stop_scan()` at the end of the `for entry in ble.start_scan(AdafruitColor, minimum_rssi=-100, timeout=1):` section.

With that stop_scan() present, of course it stops scanning every advert it hears, and I get the following output:

[code]

If I remove the

[2021-01-26 20:23] alexwhittemore commented on #119
Nevermind, that last line seems to be right, I guess this is a new bug in CP 6.0.1 (which I'm using). https://github.com/adafruit/circuitpython/issues/3942

[2021-01-26 20:23] #119 closed

[2021-01-26 20:31] dhalbert commented on #119
Yes, this is fixed in 6.1.0.

[2021-01-26 21:04] alexwhittemore commented on #119
Oh I hadn't even realized 6.1 was already released - I'll have to just go update :)

[2021-03-10 07:31] sreerajpunnoli opened #120 "Can't use multiprocessing on the BLE connections to get multiple connections at the same time"
I have been trying to get data out from multiple pulse-oximeters at the same time. I was able to run them separately in two different environments and able to extract data from two pulse-oximeters at the same time. I tried to use multiprocessing after the BLE connection to retrieve data parallelly from two pulse-oximeters in the same environment, the connection is getting lost and data is no longe

[2021-03-12 00:09] drewskoots opened #121 "BLE HID does not work on Raspberry Pi"
I'm trying to port [this tutorial](https://learn.adafruit.com/ble-hid-keyboard-buttons-with-circuitpython/overview) to my raspberry pi zero, but upon running the script I get the following error:
[code]

This seems to be pretty far down the stack, so I'm finding it very difficult to debug. Does anyone have any tips on what could be the issue? Is it a fundamental hardware issue or can I tweak the c

[2021-03-12 00:16] dhalbert commented on #121
Are you trying to get the Rpi to act as an HID keyboard. The RPi, using adafruit-blinka-bleio, and bleak, can only act as a BLE central, and the HID code acts as a peripheral.

[2021-03-12 10:34] drewskoots commented on #121
Yes, the idea is that I would like the raspi to send a series of keypresses to my computer when I push a button. Preferably over bluetooth rather than over USB.

[2021-03-12 12:46] dhalbert commented on #121
Unfortunately, the underlying `bleak` layer does not support that. It can't advertise, because it's a central only. See https://github.com/hbldh/bleak/issues/81. We don't know of another underlying multi-platform library we can use that would be able to act as a peripheral.

Other people have wanted to do this, but I haven't found an example of an existing project.

[2021-03-12 12:52] drewskoots commented on #121
Ok, that's too bad. I definitely appreciate you helping me get a definitive answer here though. I'll see if I can achieve the same functionality with a different approach!

[2021-03-12 13:12] #121 closed

[2021-03-12 21:59] sreerajpunnoli commented on #120
This is happening only in Raspberry Pi. I have tried it in mac and windows, both are working fine. In Raspberry Pi 4 with Raspberry Pi OS, the connect method in BLERadio class is getting called and it is waiting forever and not throwing timeout exception. When I removed the multiprocessing, connect method works fine in Raspberry Pi OS. It seems like a library issue. Please suggest.

[2021-03-21 16:23] NR5P opened #122 "simple scan not receiving ble devices on raspberry pi 4"
I'm running raspbian on raspberry pi 4 and simple scan example is not receiving my ble device that is advertising. I do receive it with hcitool on the raspberry pi 4

[code]

The simple scan example I'm running in python is
[code]

[2021-03-21 16:36] dhalbert commented on #122
1. Are you running the Python scan example under `sudo`? Your user needs to be in the `bluetooth` group. See https://learn.adafruit.com/circuitpython-ble-libraries-on-any-computer/install-ble-libraries#linux-and-raspberry-pi-add-user-to-bluetooth-group-3074922-4
2. The linux kernel does de-duplication of advertisements, which may be dropping some or all of your advertisements. See https://github.c

[2021-03-27 15:07] NR5P commented on #122
not running as root was the issue.

[2021-03-27 15:07] #122 closed

[2021-04-01 18:24] tannewt commented on #91
@madgrizzle Please try CircuitPython 6.2.0-rc.0. I think I just fixed this. The underlying PacketBuffer wasn't tracking the disconnect correctly.

[2021-04-15 21:50] kschmelzer opened #124 "Advertising scan fails"
After updating to the latest version, my script began crashing with the following stack:
[code]

Perhaps related to the lazy object instantiation of `self.flags` from the parent class.

Reverting to version 7.3.4 fixes the problem.

[2021-04-15 22:21] dhalbert commented on #124
@tannewt so it needs not to set flags if `entry` is not None?
https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/2f7915018a3fa94597177eb51fb5ab9d5b66ddde/adafruit_ble/advertising/standard.py#L162-L168

[2021-04-16 15:59] tannewt commented on #124
@dhalbert Ya, I think generally you want to avoid setting anything if entry is provided. Otherwise you may override settings from the scan entry.

[2021-04-16 16:15] kschmelzer commented on #124
I might be missing something, but it looks like if `entry` is `none` then in `Advertisement.__init__` `Advertisement.data_dict` does not get set. If `Advertisement.data_dict` is not set when accessing `Advertisement.flags`, the `LazyObjectField.__get__` method returns `none` which would cause a similar situation.

[2021-04-16 16:30] dhalbert commented on #124
It gets set to an empty dict:
https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/2f7915018a3fa94597177eb51fb5ab9d5b66ddde/adafruit_ble/advertising/__init__.py#L241

It used to be that `Advertisement.__init__()` was only used to construct outgoing `Advertisement`s. `Advertisement.from_entry()` was used to construct `Advertisement`s from incoming (received) advertisements. That changed in #

[2021-04-16 16:59] tannewt commented on #124
Note that `from_entry` still called `__init__` to make the object and then it overrode settings. This is the cleanest way I think.

[2021-04-16 20:08] kschmelzer commented on #124
@dhalbert , Sorry, when I say that the data_dict isn't set, I mean that it is declared as an empty dictionary, not set from the values from an entry. When `__get__` is called, if the `Advertisement` object is not `mutable` and `_adv` is not in `data_dict` it returns `none`. Since `data_dict` is getting set to `{}`, `_adv` would not be found and `__get__` returns `none`. It is the only way I see th

[2021-04-16 20:09] kschmelzer commented on #124
I think the PR your linked is more efficient, it does not fix the root cause.

[2021-04-16 21:19] dhalbert commented on #124
https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/2f7915018a3fa94597177eb51fb5ab9d5b66ddde/adafruit_ble/advertising/__init__.py#L180-L190

(I had to study this a bit.) That's true, but if `entry` is `None`, then in fact `self.mutable` is set to True in the constructor, and the `if` on line 184 above will be false. So `__get()__` will not return `None`, and the `flags` object will get ins

[2021-04-19 15:21] kschmelzer commented on #124
Thank you @dhalbert , so, if I understand it correctly, the only way that `flags` can be `none` is in the condition that `entry` is not `none` but `advertising_type`, or `_adt`, is not in the original `entry.advertisement_bytes`. So a bad `entry` object?

I will do some more testing on my side to see if I can find the exact reason.

[2021-04-19 15:30] dhalbert commented on #124
Right, so there may be something odd with your `ScanEntry`.

[2021-04-19 15:31] #124 closed

[2021-04-19 15:32] dhalbert commented on #124
Automatically closed when I merged the pull request, but if you are still having issues, we of course can reopen.

[2021-07-01 17:34] KevinUrrutia opened #126 "BLEConnection object can not find my defined Service"
Hello,
So I am trying to use my husarion Rosbot to connect and receive file data from the nrf52 bluefruit BLE microprocessor. So the bluefruit already has defined Services and is advertising these services. This service has already been given permission to accept read and writing from the central. So, the thing is that I can connect to the bluefruit from the linux central device just fine, and eve

[2021-07-04 13:33] box8 opened #127 "Please increase buffers size for Nordic UART Service from 64 to 256 bytes"
In nRF5 SDK 17.0.2 in ble_nus.h BLE_NUS_MAX_DATA_LEN defined as:

#define OPCODE_LENGTH 1
#define HANDLE_LENGTH 2
...
#define BLE_NUS_MAX_DATA_LEN (NRF_SDH_BLE_GATT_MAX_MTU_SIZE - OPCODE_LENGTH - HANDLE_LENGTH)

BLE 4.2 allows 247 bytes for NRF_SDH_BLE_GATT_MAX_MTU_SIZE, so BLE_NUS_MAX_DATA_LEN = 244

Current version of UARTService just drops extra bytes (64+) from received packet.

[2021-07-06 12:33] dhalbert commented on #127
We would be happy to entertain a PR, if you feel up to it.

@tannewt BTW, do you see dropping of bytes in the REPL serial, when, say, pasting a long string into the REPl?

[2021-07-06 16:35] box8 commented on #127
I'm currently working on nRF52832 firmware, NUS transfer implemented as described in [https://www.programmersought.com/article/17621618211/](https://www.programmersought.com/article/17621618211/) Method 2+ -- burst of **ble_nus_data_send** when **BLE_NUS_EVT_TX_RDY** event received.
The amount of data sent in one burst is ~950 bytes, so 256 byte buffer is not enough anyway. Implementing [https://g

[2021-07-08 17:37] tannewt commented on #127
First, we aren't using BLE_NUS_MAX_DATA_LEN internally at all.

For the serial BLE in CircuitPython, I'm creating my own incoming characteristic buffer and outgoing packet buffer. I haven't tested it extensively so I'm not sure if we'll see reliability issues. I imagine we will in extreme cases but the nordic uart service doesn't manage control flow. So, I'm not sure how you improve that. The file

[2021-07-08 17:37] #127 closed

[2021-07-08 18:56] tannewt commented on #126
Please ask on the forums here: https://forums.adafruit.com/viewforum.php?f=60 and include the code you are running on the microcontroller too. Thanks!

[2021-07-08 18:56] #126 closed

[2021-07-30 16:11] dh-metre opened #128 "UARTService.readinto with memory view slice and bytearrary cases ValueError: length argument not allowed for this type"
`byte_count = device.readinto(memoryview(in_buf)[start_ptr:])`

causes:  `ValueError: length argument not allowed for this type`

[2021-07-30 17:04] dh-metre commented on #128
Changing line 77 in nordic.py to `return self._rx.readinto(buf)` appears to be one resolve the issue.  I tested this.

[2021-08-05 00:41] cygann opened #129 "macOS Big Sur troubleshooting: Abort trap: 6"
Attempting to run a simple example on my computer (macOS Big Sur), the program would crash almost immediately with the following error message (no other information):
[code]

After a bit of web searching, I found that I needed to add my terminal application to the Bluetooth privacy permissions under System Preferences > Security & Privacy > Privacy > Bluetooth. After doing this everything worked!

[2021-08-05 00:42] cygann commented on #129
As noted above, this has been resolved.

[2021-08-05 00:42] #129 closed

[2021-08-05 00:43] dhalbert commented on #129
Thanks, we will add this to the appropriate Learn Guide(s).

[2021-08-14 11:45] Kimpehzor opened #130 "Reconnecting to Feather nRF52840 Express causes exception"
I am running [this example code](https://github.com/adafruit/Adafruit_CircuitPython_BLE_Apple_Notification_Center/blob/main/examples/ble_apple_notification_center_new.py) on a Feather nRF52840 Express.

[code]
The script runs without issue until I encounter a reconnect. If the Bluetooth connection is disconnected (manually by disabling Bluetooth on the phone or walking out of Bluetooth range) and

[2021-08-15 20:10] exinmusic opened #131 "Writing to a characteristic throws permission error with UARTservice and "not supported" error with custom service. RPi Zero W."
EDIT: Upgrading bluez version from 5.0 to 5.1 got the UART permission error fixed. Still experiencing "not supported" error below.

I'm having trouble getting a custom service to bind upon trying to write to its tx characteristic. Looking at the trace, the issue is in bleak or bluez and I'm not sure if I'm doing something wrong in my script or if my system perhaps is missing a dependency/configura

[2021-08-15 20:21] dhalbert commented on #131
`TAMAService` looks like yet another Nordic-UART-ish service, with different UUID's. Take a look at https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/main/adafruit_ble/services/nordic.py and see if you can use that, and just change the UUID's. Make sure the TX and RX UUID's are correct: it's easy to get them backwards. Note in that link how they are reversed depending on whether it's cen

[2021-08-15 21:04] exinmusic commented on #131
@dhalbert thank you for the quick response! Yes TAMAservice is made as an adaptation of nordics UART service. So taking the custom service out of the equation and running the nordic uart example against my Bluefruit LE Friend in DAT mode I yield the same error. So I dont think this is a result of the service class definition since im using the provided one from `adafruit_ble.services.nordic`.

[2021-08-15 22:31] dhalbert commented on #131
If the RX and TX are backwards, then you would get an error because the permissions on the characteristics are wrong. So you could try the `UARTService` code and just substitute the UUIDs. If it doesn't work try exchanging the RX and TX UUIDs.

[2021-08-16 01:32] exinmusic commented on #131
Yields this error if I swap the UUIDS:
[code]

Maybe a more important discovery is that I get my original error using the UARTservice echo test in the examples.

[2021-08-16 01:36] dhalbert commented on #131
There may be a BLE setup issue on the RPi. See if you are in the bluetooth group (I think there's one), and that your installation is completely up to date.

[2021-08-16 02:13] exinmusic commented on #131
Okay, so I added both root to the lp and bluetooth groups again, and to which it told me root was already in them.
So next I added pi to both groups and rebooted. Same error running echo script as either user.
ran this again just to be sure `apt upgrade bluez-firmware` and rebooted.
Heres the bluetooth service status.

[code]

Whats interesting is the UART echo example if I just send it, the scrip

[2021-08-16 07:37] exinmusic commented on #131
Upgrading bluez from version 5.0 to 5.1 got me around the error.  ¯\_(ツ)_/¯
Found this article helpful, just replaced 5.0 with 5.1 in the examples: https://scribles.net/updating-bluez-on-raspberry-pi-from-5-43-to-5-50/

Closing, as this got me around the initial error I reported.
thank you @dhalbert

[2021-08-16 18:20] exinmusic commented on #131
Okay, after getting the nordic UARTservice to work, I am still facing my original error. @dhalbert I have modified the TAMAservice to be exactly the same as the nordic UARTservice in this library but with the swapped out UUIDs.
https://gist.github.com/exinmusic/e85e9cca226f58bf4f96b2e59515d283

I can write to the TAMA tx characteristic using an app, BlueSee, on my mac the same I would the UARTserv

[2021-08-16 19:28] dhalbert commented on #131
The 128-bit UUID's you are using are the 128-bit forms of what are actually 16-bit UUIDS:
https://stackoverflow.com/questions/36212020/how-can-i-convert-a-bluetooth-16-bit-service-uuid-into-a-128-bit-uuid

In other words `0000FFF0-0000-1000-8000-00805F9B34FB` is equivalent to the 16-bit UUID `FFF0`. You could trying using the 16-bit UUIDs. Supply them as integers, not `bytes`. I'm not sure that wi

[2021-08-16 21:08] exinmusic commented on #131
Supplying UUID like so `StandardUUID(0xFFF0)`, `StandardUUID(0xFFF1)`,`StandardUUID(0xFFF2)`, returns the same error.
 I'll take a look at the examples and see if I have any luck with bleak directly.

[2021-08-16 23:58] exinmusic commented on #131
@dhalbert So! Using the standard 16bit UUID function instead of the vendor, AND flipping the position of the UUIDs in the TX/RX definitions got me working!

In conclusion:
- ensuring bluez is version 5.1 instead of 5.0 (or maybe just latest? As current stable version is 5.6)
- swapping UUIDs for tx and rx
- and using StandardUUID with 16bit ids rather than VendorUUID with 128bit ids.

[2021-08-16 23:59] #131 closed

[2021-08-16 23:59] dhalbert commented on #131
I am not surprised about the flipping. I am surprised about the 16 vs 128, but it may be a bleak or bluez issue. Thanks for your perserverance.

[2021-08-24 00:10] tannewt commented on #130
Please try absolute newest of CircuitPython. I just tried the demo and it worked ok.

[2021-09-01 10:30] blalor opened #133 "[7.0.0.beta0] Unknown system firmware error: 3205"
I'm attempting to use the AppleMediaService advertisement, per the example [here](https://github.com/adafruit/Adafruit_CircuitPython_BLE_Apple_Media/blob/1de22a217258e37434bbbe17347be5e34077291f/examples/ble_apple_media_simpletest.py).  I've run into the same problem as @Kimpehzor in #130, so per @tannewt's direction I'm trying the "Absolute Newest" CircuitPython build and bundle:

* `adafruit-cir

[2021-09-01 10:37] blalor commented on #133
Hm, this appears related to https://github.com/adafruit/circuitpython/issues/3731

[2021-09-01 10:42] blalor commented on #130
I'm also experiencing this error, using CircuitPython 6.3.0 and the "Absolute Newest" bundle `adafruit-circuitpython-bundle-py-20210901.zip` (which I wouldn't expect to completely work because different major versions, but I'm trying to hack my way around this issue).

@tannewt is this issue coming from this project, or from CircuitPython itself?

[2021-09-01 10:57] blalor commented on #130
Interesting, after "forgetting" the CircuitPython device from my iPhone, the problem seems to have gone away. 🤔

[2021-09-01 17:30] tannewt commented on #130
I suspect the CircuitPython core. We reworked BLE quite a bit to add the BLE workflow in 7 so it's not really worth debugging 6.3.0. I'm planning a 7 release candidate this week and hopefully a stable release next week or the week after depending on how the RC goes.

[2021-09-01 17:36] tannewt commented on #133
Interesting! Error 0x3205 is `BLE_ERROR_GAP_DEVICE_IDENTITIES_DUPLICATE`. Does this still happen if you press reset when the LED is fast blinking blue? That'll clear your bonding information. I suspect a core problem so I'm going to move this issue to the core. It'll be easier to track then.

[2021-09-05 11:15] rdoursenaud opened #134 "Unknown system firmware error: 3204 [CiPy 7.0-rc1]"
[code]

[code]

[code]

[code]

[2021-09-07 20:28] tannewt commented on #134
Thanks for trying the RC! This is due to duplicate bonding data. Please press the reset button during the blue blink at startup. That will clear existing bonding info (and make the device advertise for the CP BLE workflow.)

[2021-09-08 06:18] rdoursenaud commented on #134
Hi @tannewt,
Thanks for your insight.
So, if I understand correctly, this is a Circuitpython behavior unrelated to the BLE module.
Is there a way to do this from code? in boot.py for example?
Shouldn’t this be taken care of by the update?

[2021-09-08 07:41] rdoursenaud commented on #134
Just tested clearing the bonding info using the reset button.
Unfortunately, it only works the first time.
As soon as a device is paired, running the code again leads to the same error.
This used to work pretty well under CircuitPython 6.
I’m pretty sure I’m missing something obvious here…

[2021-09-08 16:41] tannewt commented on #134
You can erase bonding info from CP with `_bleio.adapter.erase_bonding()`. You shouldn't need to do it every time though. The point of bonding is to allow for reconnection.

I don't think we should erase bonding info on upgrade because it may work just fine.

Please post the full code example and I'll try to reproduce it. What device are you pairing with?

[2021-09-08 19:01] rdoursenaud commented on #134
Thanks.

I guess I’m struggling because the documentation is lacking on the CircuitPython side of things regarding central mode.
Should I not scan again and attempt to connect directly if the device is already paired?

My main focus on this project is all things MIDI (5-Pin DIN/UART, USB, BLE and hopefully RTP).
I’m trying to get to grips with what can be done with the hardware.
What fails is re-c

[2021-09-08 19:10] rdoursenaud commented on #134
Forgot to say that it fails on the `for advertisement in advertisements` with the same error message previously mentioned when the device has been successfully paired and interacted with on the previous run.

Also, clearing the bonding data with the advised `_bleio.adapter.erase_bonding()` before scanning again seems to behave as I was used to in CircuitPython 6.

[2021-09-08 19:12] tannewt commented on #134
If you are already connected to the device then there should be no need to disconnect. The new BLE workflow stuff in CircuitPython acts as a peripheral so it won't do scanning for you (that is a central thing.)

Can you replicate it with a shorter example? There is more BLE logic in 7.x that tries to load the bonding information when doing a scan in case the formerly bonded peer is advertising wit

[2021-09-08 19:21] rdoursenaud commented on #134
Good catch!

Not disconnecting behaves properly. I don’t know why I had that in place. Guess I copy/pasted sample code without thinking too much ;)

[2021-09-08 19:26] rdoursenaud commented on #134
Sorry for my previous comment, that’s not what’s going on.
It seems that running `_bleio.adapter.erase_bonding()` has definitively fixed the issue with my board since my original code now behaves as I expected.

Strange…

[2021-09-08 19:42] tannewt commented on #134
Does it work if you remove the erase_bonding line?

[2021-09-08 19:43] rdoursenaud commented on #134
Yes! That’s what I meant.

[2021-09-09 02:56] #134 closed

[2021-09-10 19:06] #130 closed

[2021-09-18 10:33] ThomasAtBBTF opened #136 "HIDService(hid_descriptor=MY_HID_DESCRIPTOR)) causes NotImplementedError: Only one report id per Application collection supported"
After https://github.com/adafruit/circuitpython/issues/4868 was closed I tried again a hid_descriptor with multiple report id's for one device.
Using the latest libraries it is clear, that "/lib/adafruit_ble/services/standard/hid.py", line 419 still has the catch for multiple report id's

[code]

Also, it looks to me, that the following code, which adds ``ReportOut's`` and ``ReportIn's`` is not pr

[2021-09-20 18:29] jepler commented on #128
@dh-metre please consider submitting a pull request to fix this problem!

[2021-09-27 17:33] FoamyGuy opened #137 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-09-28 08:28] ChrisDinhNZ opened #138 "How to register to be notify of changes in a remote BLE characteristics?"
Apologies if this is not the right channel for this.

 I have a BLE peripheral device with a single service and a single characteristic. The characteristic holds an 8-bit uint which is set to 1 when the switch is on, 0 when the switch is off. The characteristic supports READ and NOTIFY.

Using nRF Connect I can see the NOTIFY part is working as the value is being updated as the state of the switch

[2021-09-28 17:16] tannewt commented on #138
The Adafruit forum: https://forums.adafruit.com/viewforum.php?f=60 or Discord chat are better places to get help: https://adafru.it/discord

[2021-09-28 19:19] #138 closed

[2021-10-17 10:09] ThomasAtBBTF opened #139 "How to set HID properties manufacturer_string and product_string"
How can one set the HID 'manufacturer_string' and 'product_string' for the (BLE) HID device which is created using the HIDService()?

Setting the Bluetooth Name which shows up in the host while pairing is easy and documented.

But how to set the HID device properties I have no idea where to look.

Printing these properties on the host is easy like so:
[code]
hid library from: https://pypi.org/proj

[2021-10-20 18:10] rocketsciencenerd opened #140 "How to Use BatteryService with HeartRateService?"
Hi All,

I want to use this [BatteryService](https://circuitpython.readthedocs.io/projects/ble/en/latest/standard_services.html?highlight=BatteryService#adafruit_ble.services.standard.BatteryService) with a [HeartRateConnection](https://github.com/adafruit/Adafruit_CircuitPython_BLE_Heart_Rate):

[code]
The print('battery level ', battery_level)  returns `None <adafruit_ble.BLEConnection object at

[2021-10-21 16:45] tannewt commented on #140
What device are you connecting to? The connection should do service discovery when you try to get the service from it.

[2021-10-21 17:41] rocketsciencenerd commented on #140
Ah this is good information, it is a Linux board - Raspbian GNU/Linux10 (buster)

[2021-11-04 01:09] bradjc opened #141 "ValueError on BLERadio.start_scan() and ble_detailed_scan.py"
I tried running `ble_detailed_scan.py` and get the following error:

[code]

I _think_ the error happens because the example scans for both services advertisements and any advertisement:

https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/4eca28e6407f511d5051fd608a238a9d8b40d783/examples/ble_detailed_scan.py#L18

which the causes the prefixes buffer to be empty:

https://github.com/adafru

[2021-11-22 04:24] tannewt opened #143 "Fix autodocs"
I don't think the docs are setup to get all of the comments pulled into read the docs. I think this requires a static file to point to each class. I haven't done it recently.

These pages should have more info: https://circuitpython.readthedocs.io/projects/ble/en/latest/uuid.html

[2021-11-22 15:36] FoamyGuy commented on #143
Strangely this page seems to generate fine locally when built with sphinx:
![image](https://user-images.githubusercontent.com/2406189/142889554-013e1600-0c31-4ec9-b193-76447e868a92.png)

I have run across things like this a few times where the results from building locally with sphinx differ from the results that readthedocs ends up publishing.

[2021-11-22 15:47] FoamyGuy commented on #143
It also seems like maybe there are two instances of the BLE library in readthedocs? I found this one which uses a different sub-domain in the URL, and it does also contain the content on the uuid page: https://circuitpython-ble.readthedocs.io/en/latest/uuid.html

[2021-11-22 16:20] FoamyGuy commented on #143
It turns out the circuitpython-ble.readthedocs.io is a different project perhaps created a while ago by accident. So while their pages do look correct, I don't think it's actually relevant to the issue noted here.

Looking into the build logs for the current RTD project for this library: https://readthedocs.org/projects/adafruit-circuitpython-ble/builds/15293278/

I notice there are several instan

[2021-11-22 16:46] FoamyGuy commented on #143
I do think the crux of this issue is the RTD build happening on python  3.6. I'm not very familar with the usage of `__future__` but I did find an answer here: https://stackoverflow.com/a/52890129/507810 indicating that 3.7 is the minimum version of python where this is available.

Based on that, and the fact that my local builds under python 3.8 seem to generate the pages correctly I think if we

[2021-11-22 18:50] tannewt commented on #143
@FoamyGuy Thanks for the debugging! Want to make a PR to bump the python version?

[2021-11-22 20:22] #143 closed

[2021-11-22 20:34] FoamyGuy commented on #143
The newest RTD build after the merge looks good now. The page linked in the first comment of this issue does now show the expected content within it. :tada:

I will check into the bundle libraries to find if / how many have differently named config files (`.yml` vs. `.yaml`) and see if there is a way to more easily sweep all libraries and update them to have matching versions.

[2021-11-23 18:27] tannewt commented on #143
Thank you @FoamyGuy!

[2021-11-24 20:01] rocketsciencenerd commented on #140
Update (for future developers):

When on a linux system, BlueZ interferes with bleak. Therefore, it needs to be disabled to use the `adafruit_circuitpython_ble` library to read a battery level on a BLE device.

From this [post](https://github.com/hbldh/bleak/issues/393), you can disable the BlueZ battery plugin by editing the `bluetooth.service` file located at `/lib/systemd/system/bluetooth.servi

[2021-11-24 20:01] #140 closed

[2021-12-07 00:02] kivicode opened #145 "Slow connection"
Hello, I'm trying to stream some data over the BLE-UART (board: Adafruit Feather Sense with nRf52840).

However, the problem is that I can't reach any speeds higher than ~1 Kb/s. I suspect it is related to the TX buffer size, but I can't find where to set it. Is there a way to increase the connection speed to approach the ones from nrf52840's documentation (150+ Kb/s)?

[2021-12-07 18:38] tannewt commented on #145
For testing, you can change it here: https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/main/adafruit_ble/services/nordic.py#L39

I'm not sure how Characteristic buffer is packing bytes into outgoing packets.

I think we automatically negotiate large MTUs and short connection intervals. They are worth checking though because they will depend on the client. https://circuitpython.readthedoc

[2021-12-09 21:43] 300bps opened #146 "Memory Leak After Disconnect (when acting as a BLE central)"
**Issue:** When acting as a ble central, there appears to be a persistent memory leak after disconnecting from a device.

**Conditions:** Circuitpython 7.0.0, mpy=517  library bundle: 7.x-mpy-20211125
Hardware: Feather nrf52840

**Description:** My application (acting as a central) connects to another adafruit board (Itsy nrf52840) acting as a peripheral, reads some data, and then disconnects.  It

[2021-12-11 04:39] 300bps commented on #146
After a bit of looking at the source for the adafruit_ble library, I think I may see the cause of the issue that I described above.

**Cause:**
In adafruit_ble.\_\_init\_\_.py ,  line 291 in the 'connect' method of the BLERadio class adds each connection to the self._connection_cache dictionary, but entries are never removed (such as after they are disconnected). Line 306 of the 'connections' meth

[2021-12-16 20:03] #146 closed

[2021-12-16 20:07] dhalbert commented on #146
Closed via #147.

[2022-01-16 15:39] tekktrik opened #148 "Missing Files in Documentation"
Some files in the repo are not listed for viewing in RTD.  I should be able to get to this soon, but filing an issue in the meantime.

[2022-01-16 17:11] FoamyGuy commented on #148
closed by #149

[2022-01-16 17:11] #148 closed

[2022-01-18 23:11] tekktrik commented on #85
Resolved by PR #150!

[2022-01-19 17:31] tannewt commented on #85
Thank you!

[2022-01-19 17:31] #85 closed

[2022-02-02 03:27] tekktrik commented on #83
Resolved by PR #154!

[2022-02-02 03:49] dhalbert commented on #83
In the PR, if you use one of these magic phrases, the issue will get linked and then closed when the PR is merged:
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2022-02-02 03:49] #83 closed

[2022-02-06 13:18] mmartinortiz commented on #84
I arrived to this issue looking for a way to connect a keyboard to the [Adafruit Feather nRF52840 Express](https://www.adafruit.com/product/4062) via Bluetooth, so the keystrokes can be read and used by the nRF52840. The library you linked is to do the opposite: make the ESP32 behave as a Bluetooth keyboard/mouse.

[2022-02-06 13:21] mmartinortiz commented on #84
@evaherrada is there any plan to implement this ticket? Is there anything the community can do to help? I'm more skilled at Python than at Micro controllers, but maybe I can do something.

[2022-02-07 23:28] tannewt commented on #84
@mmartinortiz I'd suggest joining the Discord to help. https://adafru.it/discord I might try to do this today actually. It probably needs a feature I'm working on for the ESP32-S3

[2022-02-10 14:38] awgrover opened #157 "scanning while advertising causes NRF_ERROR_BUSY: _bleio.BluetoothError: Unknown system firmware error: 0011"
Several examples are available that show scanning while advertising (i.e. no stop_advertising). E.g. [Clue rock-paper-scissors](https://learn.adafruit.com/rock-paper-scissors-circuitpython/simple-game), and some non circuitpython examples for the nRF52840 (e.g. https://learn.adafruit.com/introducing-the-adafruit-nrf52840-feather/dual-roles-bleuart).

On the bluefruit at `.start_scan()`, I get "_bl

[2022-04-05 03:26] rdagger commented on #84
@tannewt Did you make any progress on the code to read a BLE keyboard?

[2022-04-12 01:11] Desertgeek opened #160 "What causes the "NotImplementedError" in my Python code when I try to start advertising?"
I am working with Adafruit_CircuitPython_BLE on a MacBook running Monterey 12.3. The code below is an example from the Adafruit library (ble_advertising_simpletest.py).

`from adafruit_ble import BLERadio

from adafruit_ble.advertising import Advertisement

ble = BLERadio()
advertisement = Advertisement()
advertisement.short_name = "HELLO"
advertisement.connectable = True

while True:
    print(ad

[2022-04-12 01:42] dhalbert commented on #160
The underlying implementation for adafruit-blinka-bleio  on a host computer uses [[bleak](url)](https://github.com/hbldh/bleak)https://github.com/hbldh/[bleak](https://github.com/hbldh/bleak), which does not support peripheral mode at all. Your MacBook could act as a peripheral, but not via bleak. And when it talks to your phone, it is acting as a BLE central, almost certainly.

You _can_ do scann

[2022-04-12 17:53] Desertgeek commented on #160
Thank you Dan for responding. It is very helpful. I'm actually trying to communicate between my laptop and an Ardunio WiFi Rev2, not my iPhone. The Arduino, fitted with the CNC V3 shield, controls 2 stepper motors forming AZ & EL axes on a (home made) tracking mount. A USB camera is fixed on the mount and is plugged in to my laptop. A Python program running on the laptop uses OpenCV routines to re

[2022-04-12 18:05] dhalbert commented on #160
Yes, switching roles sounds good. I fixed the link, sorry.

[2022-04-15 16:10] jhfoo opened #161 "PyPortal start_scan(): NotImplementedError"
Here's what I did on my PyPortal:
1. Referenced this doc to upgrade ESP32 firmware to 1.7.4: [https://learn.adafruit.com/adafruit-pyp ... python-ble](https://learn.adafruit.com/adafruit-pyportal/circuitpython-ble)
2. Referenced this doc for BLE scanning: [https://docs.circuitpython.org/projects ... mples.html](https://docs.circuitpython.org/projects/ble/en/latest/examples.html)
3. Upgraded Circuit

[2022-04-15 16:18] dhalbert commented on #161
As mentioned here: https://learn.adafruit.com/adafruit-pyportal/circuitpython-ble

As a BLE peripheral, you cannot scan. You can only scan if you can act as a BLE central. You _can_ scan if you use an nRF52840 board, which can be both a central and peripheral.

[2022-04-16 05:19] jhfoo commented on #161
Thanks for the clarification.

[2022-04-16 11:06] #161 closed

[2022-04-16 23:48] kevinjwalters commented on #86
There's an unrelated issue with constructor needing to accept and forward `entry` kwarg.

[2022-04-18 17:30] Desertgeek commented on #160
I'm still missing something. Following the suggestion given above, I wrote the following **code for the ArduinoWiFi** as a peripheral (modified from one of the examples):

`#include <ArduinoBLE.h>

BLEService uartService("19B10000-E8F2-537E-4F6C-D104768A1214"); // Bluetooth® Low Energy UART Service

// Bluetooth® Low Energy LED Switch Characteristic - custom 128-bit UUID, read and writable by cent

[2022-05-09 22:58] tannewt commented on #84
@rdagger I haven't. I got distract by USB host and then we had a baby. My goal was to sort out HID with USB Host and then apply that to BLE as well.

[2022-05-10 00:18] rdagger commented on #84
@tannewt congratulations!  I was hoping to make a wireless keyboard adapter for my 1978 Bally astrocade game console.

[2022-05-10 02:56] cpblegh opened #163 "BLE connection hangs after 25 seconds"
The LED Glasses driver nRF52840 using CircuitPython connects to a BLE light bulb and controls it well for 25 seconds, but after 25 seconds it seems to hang the next time a characteristic is accessed. There isn't any Exception, but the code stops running and Ctrl-C doesn't give a REPL prompt. The only way to recover is to reset the CPU.

If after 25 seconds, I call connect() again before accessing

[2022-05-10 15:35] tannewt commented on #84
That sounds like a neat project! I'll have to keep that in mind. I'll shoot to pick this back up with the USB host stuff.

[2022-05-14 04:53] MadGeometer opened #164 "Advertisement Names"
Hello,

The advertisements returned by ble.start_scan() are missing short_name and complete_name. This happens in the ble_simpletest.py and ble_detailed_scan.py in the examples folder. Setting extended=true and increasing buffer_size doesn't help.

Any ideas?

Thanks,
Mike

CircuitPython Info:
[code]

Sample code:
[code]

Output:
[code]

[2022-05-16 20:32] tannewt commented on #164
Are you sure the devices you are scanning advertises them? Using nRF connect on your phone is a good comparison.

[2022-05-17 01:08] MadGeometer commented on #164
Yes, the devices (one Macbook Pro, one iPad, and one iPhone) are indeed broadcasting their names. In fact, the names are displayed in Bluefruit Connect and nRF Connect, but not in the output from the sample code.

[2022-05-17 15:14] tannewt commented on #164
I'd recommend printing all of the advertisements. CircuitPython doesn't join the advertisement with scan response so you are at least missing half of the first two. IIRC you can print the raw advertisement with `bytes(adv)` too.

[2022-05-22 02:29] cygann opened #165 "ble_simpletest.py not finding devices"
Hello,

I'm having trouble finding success with the `ble_simpletest.py` example script ([here](https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/main/examples/ble_simpletest.py)). The script runs, but no devices are ever found. I have verified that I can find and connect with my devices through nRF Connect. I'm running this script on an M1 Mac with MacOS 12.2.1.

Wondering if anyone else

[2022-05-22 03:35] ladyada commented on #165
cant repro - just ran that example on a super fresh m1 mac that is running latest everything and got adverts

[code]

[2022-05-22 16:25] cygann commented on #165
Seeing that you had success with macOS 12.4 gave me a hunch to upgrade, and now the example works! Thanks!

I observed the same issue on another m1 MacBook running 12.2.1 as well. After a cursory search, it appears this likely a bug in macOS 12 prior to 12.3:
https://github.com/OpenBluetoothToolbox/SimpleBLE/issues/33
https://github.com/hbldh/bleak/issues/720#issuecomment-1009198158

[2022-05-22 16:25] #165 closed

[2022-06-08 19:19] tekktrik commented on #94
Aha!  I'm working on https://github.com/adafruit/Adafruit_CircuitPython_BluefruitConnect/issues/16 and this seems to be blocking that, given the size of images.  My testing confirms what @caternuson has described.

[2022-06-13 20:18] tekktrik commented on #94
@dhalbert and @caternuson I can also send longer UART between boards.  Should this be transferred to the app's repo?

[2022-06-13 20:35] dhalbert commented on #94
Maybe this is due to the app. I was afraid it is more general. There was this bug: https://github.com/adafruit/circuitpython/issues/3975, but it's now fixed.

[2022-07-22 03:45] tekktrik commented on #137
Tackling this now!

[2022-07-25 22:31] #137 closed

[2022-07-25 22:32] tannewt opened #169 "Remove MIDI stub"
It is implemented separately here: https://github.com/adafruit/Adafruit_CircuitPython_BLE_MIDI

[2022-07-29 17:15] #169 closed

[2022-08-11 10:15] ThomasAtBBTF opened #171 "Add Telephony Device Page (0x0B) HID_DESCRIPTOR"
It would be very helpful if someone could add a sample HID_DESCRIPTOR for the Telephony Device Page (0x0B)
So we could make a ItsyBitsy Project to answer or decline incoming calls on an IPhone.
(And play with other Usages)

[2022-08-11 20:59] ThomasAtBBTF commented on #171
I think the "only" thing we need is a small collection of bytes that can be added to the standard HID Descriptor for advertising the peripheral capabilities.

[2022-08-25 20:56] dglaude opened #172 "ble_lywsd03mmc_simpletest.py trigger Type error in BLE with 8.0.0-beta.0"
I am not sure this is a bug with this library or something in the BLE library...

But `ble_lywsd03mmc_simpletest.py` running on:
* Adafruit CircuitPython 8.0.0-beta.0 on 2022-08-18; Adafruit Feather Bluefruit Sense with nRF52840

Does trigger a Type error:
[code]

This is the line 18:
[code]

[2022-08-30 17:45] tekktrik commented on #172
I can tackle this!

[2022-08-30 17:48] dhalbert commented on #172
Ref https://github.com/adafruit/circuitpython/pull/6730

[2022-08-30 22:42] #172 closed

[2022-11-02 21:23] foxy82 commented on #84
Checking if any progress has been made on this in the last 6 months?

I'm really interested in using an ESP32-C3 to connect to a bluetooth remote (Consumer Control device in HID language) so that I can transmit the key presses over wifi to a separate device (picow at the moment) that will then send them to a computer - essentially transmitting the Bluetooth device over wifi to increase it's range.

[2022-11-03 23:41] Zwettekop opened #175 "Can't import adafruit_ble library on ESP32 Feather V2"
I was following this guide: https://learn.adafruit.com/ble-hid-keyboard-buttons-with-circuitpython/overview
I copied all the code from the guide with thonny to my microcontroller. When running the code I get the error:

[code]
**When I run it in the interpreter and not in the code.py file the line doesn't crash!** Using other libraries is also not an issue. I can for instance use the neopixel libr

[2022-11-05 16:42] Zwettekop commented on #175
I just found out that the ESP32 Feather V2 **doesn't support bluetooth** (_bleio module is not implemented yet)
It would be nice if they mentioned that bluetooth doesn't work on the main adafruit page though....
Right now it says:  "The ESP32 has both WiFi and Bluetooth Classic/LE support. That means it's perfect for just about any wireless or Internet-connected project."

Dissapointing. -20 bucks

[2022-11-05 16:42] #175 closed

[2022-11-27 18:56] xorbit opened #177 "BLEConnection.disconnect doesn't work on"

[2022-11-27 18:59] xorbit commented on #177
Sorry, fat fingers.

I have the following piece of code to disconnect my macropad from all devices if a button is held on boot:
[code]

However, it doesn't seem to do anything.  The previously connected device stays connected.
Am I doing this wrong or is this a bug?

[2022-11-28 20:07] tannewt commented on #177
Do you have the BLE workflow active? It should work if not and this sounds like a bug.

[2022-11-28 20:16] xorbit commented on #177
Hi Scott, I'm not entirely certain what you mean by "do you have the BLE workflow active".  The BLE code is working, the macropad can communicate with devices using code that was built from the Adafruit BLE HID keyboard example.  The only problem I have now is that I can't seem to find a way to disconnect the macropad from the device it's currently connected to so it can be connected to something